In [1]:
# E:\彩票数据\山西\山西季报\近4年上海统计数据.xlsx
year = int(input("请输入年份："))
month = int(input("请输入月份："))

In [2]:

import numpy
import pandas as pd
data=pd.read_excel("E:\彩票数据\山西\山西季报\近4年上海统计数据.xlsx",sheet_name=0)
data

         日期  地市     游戏       销量      月份   季度
0     44166  中心    双色球    47502  202012  NaN
1     44166  中心    七乐彩    20940  202012  NaN
2     44166  中心   福彩3D     4874  202012  NaN
3     44166  中心     选4     1556  202012  NaN
4     44166  中心   15选5     8502  202012  NaN
...     ...  ..    ...      ...     ...  ...
5699  45474  黄浦    快乐8   951642  202407  NaN
5700  45474  黄浦    即开票  3169700  202407  NaN
5701  45474  黄浦     选4   186474  202407  NaN
5702  45474  黄浦   15选5   120470  202407  NaN
5703  45474  黄浦  东方6+1    23354  202407  NaN

[5704 rows x 6 columns]

In [3]:
ppt_4_excel = pd.DataFrame()
# 计算不同年份的销量总和
a_data = data[data['季度'] == "2024年第2季度"]
b_data = data[data['季度'] == "2024年第1季度"]
c_data = data[data['季度'] == "2023年第2季度"]
a_sum = a_data['销量'].sum() * 1e-8
b_sum = b_data['销量'].sum() * 1e-8
c_sum = c_data['销量'].sum() * 1e-8
# 格式化销量数据并存入ppt_4_excel
ppt_4_excel.loc['总销量', '2024年第1季度销量'] = '{:.2f}'.format(b_sum)
ppt_4_excel.loc['总销量', '2024年第2季度销量'] = '{:.2f}'.format(a_sum)
ppt_4_excel

    2024年第1季度销量 2024年第2季度销量
总销量       14.42       15.73

In [4]:
# 环比计算
months=["01","02","03","04","05","06","07","08","09","10","11","12"]
leiji_month1=[int(str(year)+months[i]) for i in range(month)]

leiji_month2=[int(str(year-1)+months[i]) for i in range(month)]
leiji_sale1=0
leiji_sale2=0
for i in range(month):
    leiji_sale1+=data[data["月份"]==leiji_month1[i]]["销量"].sum()
    leiji_sale2+=data[data["月份"]==leiji_month2[i]]["销量"].sum()
ppt_4_excel=pd.DataFrame()
if month!=1:
    ppt_4_excel["月份"]=[str(year)+"年"+str(month-1)+"月",str(year)+"年"+str(month)+"月"]
else:
    ppt_4_excel["月份"]=[str(year-1)+"年"+str(12)+"月",str(year)+"年"+str(1)+"月"]
ppt_4_excel["累计月份"]=["%d年1-%d月"%(year-1,month),"%d年1-%d月"%(year,month)]
ppt_4_excel["累计销量(亿元)"]=[leiji_sale2*1e-8,leiji_sale1*1e-8]
ppt_4_excel["累计销量(亿元)"]=ppt_4_excel["累计销量(亿元)"].apply(lambda x:format(x,".2f"))
# ppt_4_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_4.xlsx"%(month))
ppt_4_excel

        月份       累计月份 累计销量(亿元)
0  2024年4月  2023年1-5月    20.88
1  2024年5月  2024年1-5月    24.77

In [5]:
import pandas as pd
data=pd.read_excel(r"E:\彩票数据\山西\山西季报\近4年上海统计数据.xlsx",sheet_name=0)
data
ppt_5_excel=pd.DataFrame()
ppt_5_excel = data.groupby('季度')['销量'].sum()*1e-4
ppt_5_excel
# # ppt_7_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_7.xlsx"%(month))

季度
2021年第1季度    110702.8932
2021年第2季度    105385.5516
2021年第3季度    100161.0366
2021年第4季度    118148.3104
2022年第1季度    101555.1832
2022年第2季度     34947.9032
2022年第3季度    100073.9428
2022年第4季度    105569.0726
2023年第1季度    111986.3782
2023年第2季度    152842.0744
2023年第3季度    157987.1454
2023年第4季度    141742.7058
2024年第1季度    144222.7698
2024年第2季度    157302.2666
Name: 销量, dtype: float64

In [6]:
import_game_list=["双色球","福彩3D","七乐彩","即开票","快乐8","15选5","东方6+1","选4"]
game_list=list(data["游戏"])
new_game_list=[]
# 将福彩游戏进行区分（其他的本地游戏进行统一命名）
for i in game_list:
    if i in import_game_list:
        new_game_list.append(i)
    else:
        #new_game_list.append("地方游戏")
        if i =="快乐8(新)":
            new_game_list.append("快乐8")
        else:
            new_game_list.append("地方游戏")
data["gamename"]=new_game_list
data["gamename"].value_counts()
game_name=["双色球","福彩3D","七乐彩","即开票","快乐8","15选5","东方6+1","选4","地方游戏"]
sales=[]
huanbis=[]
tongbis=[]
for i in game_name:
    #2023年6月游戏i总销量
    data_sale=data.loc[data["季度"]=="2024年第2季度"].loc[data["gamename"]==i]["销量"]
    a=data_sale.sum()
    #2023年5月游戏i总销量
    data_sale=data.loc[data["季度"]=="2024年第1季度"].loc[data["gamename"]==i]["销量"]
    b=data_sale.sum()
    #2022年6月游戏i总销量
    data_sale=data.loc[data["季度"]=="2023年第2季度"].loc[data["gamename"]==i]["销量"]
    c=data_sale.sum()
    huanbi,tongbi=a/b-1,a/c-1
    sales.append(a)
    huanbis.append(huanbi)
    tongbis.append(tongbi)
    #print("2023年5月总销量:%d\n2023年4月总销量:%d\n2022年5月总销量:%d"%(a,b,c))
    print("%d年游戏  %s  销量:%d"%(year,i,a))
    print("环比上季度:%.2f%%\n同比去年本季度:%.2f%%\n"%(huanbi*100,tongbi*100))
game_sale1=[]
game_sale2=[]
game_sale_change=[]
game_sale_huanbi_add=[]
for i in game_name:
    a=data.loc[data["季度"]=="2024年第2季度"].loc[data["gamename"]==i]["销量"].sum()
    b=data.loc[data["季度"]=="2024年第1季度"].loc[data["gamename"]==i]["销量"].sum()
    game_sale1.append(a*1e-4)
    game_sale2.append(b*1e-4)
    game_sale_change.append((b-a)*1e-4)
    game_sale_huanbi_add.append(b/a-1)
ppt_6_excel=pd.DataFrame()
ppt_6_excel["游戏"]=game_name
ppt_6_excel["%d年%d月销量(亿元)"%(year,month)]=game_sale2
ppt_6_excel["%d年%d月销量(亿元)"%(year,month)]=ppt_6_excel["%d年%d月销量(亿元)"%(year,month)].apply(lambda x:format(x,".4f"))
# ppt_6_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_6.xlsx"%(month))
ppt_6_excel

2024年游戏  双色球  销量:558449498
环比上季度:4.94%
同比去年本季度:-1.35%

2024年游戏  福彩3D  销量:290743578
环比上季度:58.52%
同比去年本季度:65.23%

2024年游戏  七乐彩  销量:7835966
环比上季度:10.42%
同比去年本季度:-0.15%

2024年游戏  即开票  销量:471708300
环比上季度:-10.32%
同比去年本季度:-18.08%

2024年游戏  快乐8  销量:205471770
环比上季度:29.46%
同比去年本季度:24.68%

2024年游戏  15选5  销量:9195088
环比上季度:22.80%
同比去年本季度:18.84%

2024年游戏  东方6+1  销量:4003512
环比上季度:12.01%
同比去年本季度:4.03%

2024年游戏  选4  销量:25614954
环比上季度:7.52%
同比去年本季度:-2.68%

2024年游戏  地方游戏  销量:0
环比上季度:nan%
同比去年本季度:nan%

D:\biye\python37\lib\site-packages\ipykernel_launcher.py:30: RuntimeWarning: invalid value encountered in longlong_scalars
D:\biye\python37\lib\site-packages\ipykernel_launcher.py:47: RuntimeWarning: invalid value encountered in longlong_scalars

      游戏 2024年5月销量(亿元)
0    双色球    53215.7810
1   福彩3D    18341.0618
2    七乐彩      709.6636
3    即开票    52596.2100
4    快乐8    15871.3756
5   15选5      748.7888
6  东方6+1      357.4388
7     选4     2382.4502
8   地方游戏        0.0000

In [7]:
### 生成本年本月累计月份表
def get_add_months(y,m):
    ###y:year  m:month
    return [int(str(y)+months[i]) for i in range(m)]
game_name=["双色球","福彩3D","七乐彩","即开票","快乐8","15选5","东方6+1","选4","地方游戏"]
leiji_month1=get_add_months(year-1,month)
leiji_month2=get_add_months(year,month)
leiji_game_sale1=[]
leiji_game_sale2=[]
leiji_game_sale_change=[]
leiji_game_sale_tongbi_add=[]
for i in game_name:
    a,b=0,0
    for j in range(len(leiji_month1)):
        a=a+data.loc[data["月份"]==leiji_month1[j]].loc[data["gamename"]==i]["销量"].sum()
        b=b+data.loc[data["月份"]==leiji_month2[j]].loc[data["gamename"]==i]["销量"].sum()
    leiji_game_sale1.append(a*1e-8)
    leiji_game_sale2.append(b*1e-8)
    leiji_game_sale_change.append((b-a)*1e-8)
    leiji_game_sale_tongbi_add.append(b/a-1)
ppt_7_excel=pd.DataFrame()
ppt_7_excel["游戏"]=game_name
ppt_7_excel["%d年1-%d月累计销量(亿元)"%(year-1,month)]=leiji_game_sale1
ppt_7_excel["%d年1-%d月累计销量(亿元)"%(year-1,month)]=ppt_7_excel["%d年1-%d月累计销量(亿元)"%(year-1,month)].apply(lambda x:format(x,".2f"))
ppt_7_excel["%d年1-%d月累计销量(亿元)"%(year,month)]=leiji_game_sale2
ppt_7_excel["%d年1-%d月累计销量(亿元)"%(year,month)]=ppt_7_excel["%d年1-%d月累计销量(亿元)"%(year,month)].apply(lambda x:format(x,".2f"))
ppt_7_excel["同比增长%"]=leiji_game_sale_tongbi_add
ppt_7_excel["同比增长%"]=ppt_7_excel["同比增长%"].apply(lambda x:format(x,".2%"))
ppt_7_excel["gameName"]=game_name
ppt_7_excel["同比去年累计增长金额(亿元)"]=leiji_game_sale_change
ppt_7_excel["同比去年累计增长金额(亿元)"]=ppt_7_excel["同比去年累计增长金额(亿元)"].apply(lambda x:format(x,".2f"))
# ppt_7_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_7.xlsx"%(month))
ppt_7_excel

D:\biye\python37\lib\site-packages\ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in longlong_scalars

      游戏 2023年1-5月累计销量(亿元) 2024年1-5月累计销量(亿元)   同比增长% gameName 同比去年累计增长金额(亿元)
0    双色球              8.73              9.13   4.58%      双色球           0.40
1   福彩3D              2.92              3.95  35.39%     福彩3D           1.03
2    七乐彩              0.12              0.12   2.78%      七乐彩           0.00
3    即开票              6.58              8.15  23.83%      即开票           1.57
4    快乐8              1.98              2.82  42.50%      快乐8           0.84
5   15选5              0.12              0.13   9.80%     15选5           0.01
6  东方6+1              0.06              0.06   2.18%    东方6+1           0.00
7     选4              0.38              0.41   7.01%       选4           0.03
8   地方游戏              0.00              0.00    nan%     地方游戏           0.00

In [8]:
ppt=pd.DataFrame()
a_data = data[(data['季度'] == "2024年第2季度") ]
b_data = data[(data['季度'] == "2024年第1季度") ]
ppt['2024年本季度销量'] = a_data.groupby('地市')['销量'].sum()*1e-4
ppt['2024年上季度销量'] = b_data.groupby('地市')['销量'].sum()*1e-4
ppt_8_excel=pd.DataFrame()
ppt_8_excel['2024年第2季度销量'] = ppt['2024年本季度销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_8_excel['2024年第1季度销量'] = ppt['2024年上季度销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_8_excel['环比增幅'] = ( ppt['2024年本季度销量']/ ppt['2024年上季度销量']-1).apply(lambda x: '{:.2%}'.format(x))
ppt_8_excel['各城市销量增长情况'] = ( ppt['2024年本季度销量']- ppt['2024年上季度销量'])
# ppt_8_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_8.xlsx"%(month))
ppt_8_excel

   2024年第2季度销量 2024年第1季度销量     环比增幅  各城市销量增长情况
地市
中心    10331.17     9151.13   12.90%  1180.0394
嘉定    13928.38    12041.81   15.67%  1886.5776
奉贤     6893.02     6716.10    2.63%   176.9238
宝山    12224.17    11746.52    4.07%   477.6512
崇明     2490.95     2303.38    8.14%   187.5740
徐汇     4877.41     4787.30    1.88%    90.1140
普陀     6140.70     5592.70    9.80%   547.9932
杨浦     6034.79     5136.21   17.49%   898.5782
松江    14890.83    13533.56   10.03%  1357.2632
浦东    31481.57    29412.37    7.04%  2069.2062
渠道      244.00      563.95  -56.73%  -319.9500
虹口     4244.00     3846.19   10.34%   397.8058
金山     4494.44     4098.27    9.67%   396.1658
长宁     4925.73     3816.34   29.07%  1109.3926
闵行    15594.59    14090.42   10.68%  1504.1726
青浦     7426.07     6920.37    7.31%   505.6974
静安     6969.11     6660.13    4.64%   308.9790
黄浦     4111.34     3806.03    8.02%   305.3128

In [9]:
ppt=pd.DataFrame()
a_data = data[(data['季度'] == "2024年第2季度") ]
games = ['双色球', '即开票', '快乐8', '福彩3D', '七乐彩', '地方游戏']
for game in games:
    ppt[f'{game}销量'] = a_data[a_data['游戏'] == game].groupby('地市')['销量'].sum() * 1e-4
ppt_10_excel=pd.DataFrame()
ppt_10_excel['双色球'] = ppt['双色球销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_10_excel['即开票'] = ppt['即开票销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_10_excel['快乐8'] = ppt['快乐8销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_10_excel['福彩3D'] = ppt['福彩3D销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_10_excel['七乐彩'] = ppt['七乐彩销量'].apply(lambda x: '{:.2f}'.format(x))
# ppt_10_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_10.xlsx"%(month))
ppt_10_excel

        双色球       即开票      快乐8     福彩3D     七乐彩
地市
中心  7945.90       nan      nan  1510.55  294.51
嘉定  3831.94   4778.02  2450.05  2668.32   40.02
奉贤  2324.45   2051.97  1041.58  1347.69   14.95
宝山  4164.43   3914.33  1802.33  1975.07   42.86
崇明   775.33    718.94   230.54   639.54    9.82
徐汇  2082.78   1491.44   452.60   643.39   25.79
普陀  2506.51   1649.56   596.26  1157.18   29.87
杨浦  2028.37   1858.96   898.93  1025.92   22.96
松江  4299.45   4612.11  2808.81  2959.22   38.35
浦东  9986.41  10590.91  4849.96  5314.80   91.10
虹口  1573.37   1417.08   510.21   557.60   19.15
金山  1658.72   1138.86   543.72  1020.61   14.96
长宁  1484.07   1584.06   326.41  1407.92   17.17
闵行  5127.10   4904.72  1858.54  3302.87   50.07
青浦  2196.64   2533.88   922.52  1677.15   14.98
静安  2417.73   2252.44   856.30  1182.50   40.84
黄浦  1441.76   1429.55   398.42   684.02   16.21

In [10]:
import pandas as pd
data1=pd.read_excel(r"E:\彩票数据\山西\山西季报\月份-地市-游戏-票单价.xlsx",sheet_name=0)
data1

         日期     地市        游戏        票价区间       销量         季度
0     45413  31$中心    01$双色球        02$2  2678178  2024年第2季度
1     45413  31$中心    01$双色球      04$4-8  4183692  2024年第2季度
2     45413  31$中心    01$双色球       05$10  5369460  2024年第2季度
3     45413  31$中心    01$双色球    06$12-18  1963584  2024年第2季度
4     45413  31$中心    01$双色球       07$20  2220900  2024年第2季度
...     ...    ...       ...         ...      ...        ...
2373  45444  31$黄浦  25$东方6+1    08$22-48     4286  2024年第2季度
2374  45444  31$黄浦  25$东方6+1    09$50-98      392  2024年第2季度
2375  45444  31$黄浦  25$东方6+1  10$100-198      794  2024年第2季度
2376  45444  31$黄浦  25$东方6+1  11$200-998     3170  2024年第2季度
2377  45444  31$黄浦  25$东方6+1   12$1000以上     2592  2024年第2季度

[2378 rows x 6 columns]

In [11]:
ppt=pd.DataFrame()
b_data = data1[(data1['季度'] =="2024年第2季度") ]
ppt['双色球销量'] = b_data[(b_data['游戏'] == '01$双色球') ].groupby('票价区间')['销量'].sum()*1e-4
ppt['快乐8销量'] = b_data[(b_data['游戏'] == '04$快乐8') ].groupby('票价区间')['销量'].sum()*1e-4
ppt['福彩3D销量'] = b_data[(b_data['游戏'] == '03$福彩3D') ].groupby('票价区间')['销量'].sum()*1e-4
ppt['七乐彩销量'] = b_data[(b_data['游戏'] == '02$七乐彩') ].groupby('票价区间')['销量'].sum()*1e-4
ppt_15_excel=pd.DataFrame()
ppt_15_excel['双色球'] = ppt['双色球销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_15_excel['快乐8'] = ppt['快乐8销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_15_excel['福彩3D'] = ppt['福彩3D销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_15_excel['七乐彩'] = ppt['七乐彩销量'].apply(lambda x: '{:.2f}'.format(x))
# ppt_15_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_15.xlsx"%(month))
ppt_15_excel

                双色球      快乐8     福彩3D     七乐彩
票价区间
02$2         793.54   136.63   126.00   47.37
04$4-8      3148.28   607.32  1037.06   77.60
05$10       8979.43  1060.21  1891.63  150.45
06$12-18    2214.23   572.63   761.64   77.07
07$20       3623.52   906.19  1482.43   12.71
08$22-48    4398.31  1489.52  2270.57   15.30
09$50-98    4041.71  1154.87  2249.70   58.80
10$100-198  4295.68  6738.52  2287.67    7.41
11$200-998  3906.44  1312.94  3691.95   50.55
12$1000以上   1311.32   619.67   982.14   20.36

In [12]:
import pandas as pd
data2=pd.read_excel(r"E:\彩票数据\山西\山西季报\日期-小时-游戏.xlsx",sheet_name=0)
data2
ppt=pd.DataFrame()
c_data = data2[(data2['季度'] == "2024年第2季度") ]
ppt['双色球销量'] = c_data[(c_data['游戏'] == '双色球') ].groupby('小时')['销量'].sum()*1e-4
ppt['快乐8销量'] = c_data[(c_data['游戏'] == '快乐8') ].groupby('小时')['销量'].sum()*1e-4
ppt['福彩3D销量'] = c_data[(c_data['游戏'] == '福彩3D') ].groupby('小时')['销量'].sum()*1e-4
ppt['七乐彩销量'] = c_data[(c_data['游戏'] == '七乐彩') ].groupby('小时')['销量'].sum()*1e-4
ppt_17_excel=pd.DataFrame()
ppt_17_excel['双色球'] = ppt['双色球销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_17_excel['快乐8'] = ppt['快乐8销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_17_excel['福彩3D'] = ppt['福彩3D销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_17_excel['七乐彩'] = ppt['七乐彩销量'].apply(lambda x: '{:.2f}'.format(x))
# ppt_17_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_17.xlsx"%(month))
ppt_17_excel

         双色球      快乐8     福彩3D    七乐彩
小时
00时    37.12     3.87    11.98   1.50
01时    36.82     0.71     9.85   1.79
02时    20.39     0.13     4.96   0.88
03时     0.15     0.34     0.42   0.00
04时     0.23     0.13     0.25   0.00
05时     3.18     0.66     1.10   0.06
06时    29.11    12.20     9.95   0.66
07时   151.96    60.36    71.95   2.21
08时  1073.28   188.21   229.95  46.00
09时  1646.21   397.54   416.16  29.76
10时  2087.86   608.64   514.33  27.36
11时  2063.54   670.25   484.00  25.81
12时  1952.96   651.98   512.10  29.11
13时  1853.19   689.45   544.21  26.86
14时  2120.97   764.92   639.94  31.11
15时  2627.06   898.05   753.59  36.81
16时  3154.74  1076.85   978.48  39.64
17时  3957.90  1356.18  1210.81  49.75
18时  5047.64  1630.40  2463.68  60.26
19时  7497.56  2170.55  4628.90  85.46
20时   676.95  3292.63  3047.67   5.07
21时   283.59    35.62    99.67   3.87
22时   291.59    75.34   131.66   8.62
23时   136.52    12.68    21.98   4.25

In [13]:
ppt=pd.DataFrame()
ppt['双色球销量'] = data[(data['游戏'] == '双色球') ].groupby('季度')['销量'].sum()*1e-4
ppt['快乐8销量'] = data[(data['游戏'] == '快乐8') ].groupby('季度')['销量'].sum()*1e-4
ppt['福彩3D销量'] = data[(data['游戏'] == '福彩3D') ].groupby('季度')['销量'].sum()*1e-4
ppt['七乐彩销量'] = data[(data['游戏'] == '七乐彩') ].groupby('季度')['销量'].sum()*1e-4
ppt_19_excel=pd.DataFrame()
ppt_19_excel['双色球'] = ppt['双色球销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_19_excel['快乐8'] = ppt['快乐8销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_19_excel['福彩3D'] = ppt['福彩3D销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_19_excel['七乐彩'] = ppt['七乐彩销量'].apply(lambda x: '{:.2f}'.format(x))
# ppt_19_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_19.xlsx"%(month))
ppt_19_excel

                双色球       快乐8      福彩3D     七乐彩
季度
2021年第1季度  49214.55   5316.23   6682.01  719.05
2021年第2季度  58297.39   5950.53   8909.36  777.70
2021年第3季度  56070.60   8331.36   9931.69  808.47
2021年第4季度  62266.80  10396.17  11652.68  897.49
2022年第1季度  49315.53   8364.24  12614.51  746.77
2022年第2季度  20713.18   3096.78   3485.24  522.14
2022年第3季度  51519.20  10338.60  13481.53  856.35
2022年第4季度  56463.23  10660.28  14998.52  801.79
2023年第1季度  49166.67  10000.29  17529.81  696.77
2023年第2季度  56610.26  16480.13  17596.41  784.77
2023年第3季度  55320.36  16787.37  19525.50  750.52
2023年第4季度  62783.12  16848.29  18759.90  757.17
2024年第1季度  53215.78  15871.38  18341.06  709.66
2024年第2季度  55844.95  20547.18  29074.36  783.60

In [14]:
ppt = pd.DataFrame()
ppt['双色球'] = data[data['游戏'] == '双色球'].groupby('季度')['销量'].sum()
ppt['即开票'] = data[data['游戏'] == '即开票'].groupby('季度')['销量'].sum()
ppt['快乐8'] = data[data['游戏'] == '快乐8'].groupby('季度')['销量'].sum()
ppt['3D'] = data[data['游戏'] == '福彩3D'].groupby('季度')['销量'].sum()
ppt['总销量'] = data.groupby('季度')['销量'].sum()
ppt_20_excel = pd.DataFrame()
ppt_20_excel['快乐8市场份额'] = (ppt['快乐8'] / ppt['总销量']).apply(lambda x: '{:.1%}'.format(x))
ppt_20_excel['即开票市场份额'] = (ppt['即开票'] / ppt['总销量']).apply(lambda x: '{:.1%}'.format(x))
ppt_20_excel['3D市场份额'] = (ppt['3D'] / ppt['总销量']).apply(lambda x: '{:.1%}'.format(x))
ppt_20_excel['双色球市场份额'] = (ppt['双色球'] / ppt['总销量']).apply(lambda x: '{:.1%}'.format(x))
# ppt_20_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_20.xlsx"%(month))
ppt_20_excel

          快乐8市场份额 即开票市场份额 3D市场份额 双色球市场份额
季度
2021年第1季度    4.8%   16.4%   6.0%   44.5%
2021年第2季度    5.6%   26.9%   8.5%   55.3%
2021年第3季度    8.3%   21.9%   9.9%   56.0%
2021年第4季度    8.8%   25.2%   9.9%   52.7%
2022年第1季度    8.2%   27.1%  12.4%   48.6%
2022年第2季度    8.9%   16.5%  10.0%   59.3%
2022年第3季度   10.3%   20.5%  13.5%   51.5%
2022年第4季度   10.1%   18.1%  14.2%   53.5%
2023年第1季度    8.9%   28.1%  15.7%   43.9%
2023年第2季度   10.8%   37.7%  11.5%   37.0%
2023年第3季度   10.6%   39.0%  12.4%   35.0%
2023年第4季度   11.9%   27.4%  13.2%   44.3%
2024年第1季度   11.0%   36.5%  12.7%   36.9%
2024年第2季度   13.1%   30.0%  18.5%   35.5%

In [15]:
data1 = data1[(data1['游戏'] == "01$双色球") ]
# game_name=["2","4-8","10","12-18","20","22-48","50-98","100-198","200-998","1000以上"]
game_name=["02$2","04$4-8","05$10","06$12-18","07$20","08$22-48","09$50-98","10$100-198","11$200-998","12$1000以上"]
ppt_21_excel = pd.DataFrame()
ppt_21_excel['2024年第2季度'] = data1[data1['季度'] == '2024年第2季度'].groupby('票价区间')['销量'].sum()
ppt_21_excel['2024年第1季度'] = data1[data1['季度'] == '2024年第1季度'].groupby('票价区间')['销量'].sum()
ppt_21_excel['2023年第4季度'] = data1[data1['季度'] == '2023年第4季度'].groupby('票价区间')['销量'].sum()
ppt_21_excel['2023年第3季度'] = data1[data1['季度'] == '2023年第3季度'].groupby('票价区间')['销量'].sum()
ppt_21_excel

            2024年第2季度  2024年第1季度  2023年第4季度  2023年第3季度
票价区间
02$2          7935384        NaN        NaN        NaN
04$4-8       31482842        NaN        NaN        NaN
05$10        89794340        NaN        NaN        NaN
06$12-18     22142334        NaN        NaN        NaN
07$20        36235220        NaN        NaN        NaN
08$22-48     43983062        NaN        NaN        NaN
09$50-98     40417130        NaN        NaN        NaN
10$100-198   42956770        NaN        NaN        NaN
11$200-998   39064410        NaN        NaN        NaN
12$1000以上    13113172        NaN        NaN        NaN

In [16]:
import pandas as pd
data3=pd.read_excel(r"E:\彩票数据\山西\山西季报\月份-地市-游戏-倍投.xlsx",sheet_name=0)
data3

         日期     地市        游戏          倍投        销量         季度
0     45413  31$中心    01$双色球       01$单倍  15062396  2024年第2季度
1     45413  31$中心    01$双色球       02$两倍   2970444  2024年第2季度
2     45413  31$中心    01$双色球     03$3到5倍   4102740  2024年第2季度
3     45413  31$中心    01$双色球    04$6到10倍   1824302  2024年第2季度
4     45413  31$中心    01$双色球   05$11到20倍    850820  2024年第2季度
...     ...    ...       ...         ...       ...        ...
1395  45444  31$黄浦  25$东方6+1       02$两倍      1792  2024年第2季度
1396  45444  31$黄浦  25$东方6+1     03$3到5倍      3344  2024年第2季度
1397  45444  31$黄浦  25$东方6+1    04$6到10倍      2098  2024年第2季度
1398  45444  31$黄浦  25$东方6+1   05$11到20倍       614  2024年第2季度
1399  45444  31$黄浦  25$东方6+1  06$21到100倍       698  2024年第2季度

[1400 rows x 6 columns]

In [17]:
data3 = data3[(data3['游戏'] == "01$双色球") ]
ppt_24_excel = pd.DataFrame()
ppt_24_excel['2024年第2季度'] = data3[data3['季度'] == '2024年第2季度'].groupby('倍投')['销量'].sum()
ppt_24_excel['2024年第1季度'] = data3[data3['季度'] == '2024年第1季度'].groupby('倍投')['销量'].sum()
ppt_24_excel['2023年第4季度'] = data3[data3['季度'] == '2023年第4季度'].groupby('倍投')['销量'].sum()
ppt_24_excel['2023年第3季度'] = data3[data3['季度'] == '2023年第3季度'].groupby('倍投')['销量'].sum()

ppt_24_excel

            2024年第2季度  2024年第1季度  2023年第4季度  2023年第3季度
倍投
01$单倍       204944924        NaN        NaN        NaN
02$两倍        36309410        NaN        NaN        NaN
03$3到5倍      54964928        NaN        NaN        NaN
04$6到10倍     27330642        NaN        NaN        NaN
05$11到20倍     8923052        NaN        NaN        NaN
06$21到100倍   34651708        NaN        NaN        NaN

In [18]:
import pandas as pd
data1=pd.read_excel(r"E:\彩票数据\山西\山西季报\月份-地市-游戏-票单价.xlsx",sheet_name=0)
ppt=pd.DataFrame()
a_data = data1[(data1['季度'] == '2024年第2季度') ]
games = ["02$2", "04$4-8", "05$10", "06$12-18", "07$20", "08$22-48", "09$50-98", "10$100-198", "11$200-998", "12$1000以上"]
ppt_28_excel = pd.DataFrame()
for game in games:
    ppt_28_excel[game] = a_data[a_data['票价区间'] == game].groupby('地市')['销量'].sum() * 1e-4
    ppt_28_excel[game] = ppt_28_excel[game].apply(lambda x: '{:.2f}'.format(x))
# ppt_28_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_28.xlsx" % (month))
ppt_28_excel

,02$2,04$4-8,05$10,06$12-18,07$20,08$22-48,09$50-98,10$100-198,11$200-998,12$1000以上
地市,,,,,,,,,,
31$中心,629.47,1023.66,1287.44,513.30,535.08,866.30,688.80,735.17,477.85,nan
31$嘉定,45.78,336.28,947.32,276.08,1535.80,1563.21,1342.04,1435.67,862.01,418.24
31$奉贤,30.14,222.61,589.38,175.51,740.04,773.68,645.53,586.16,407.39,135.60
31$宝山,53.74,395.76,1087.89,293.83,1399.69,1312.10,1126.66,1115.31,680.98,188.64
31$崇明,15.34,103.48,248.57,69.70,264.56,240.16,240.11,176.52,103.12,20.02
31$徐汇,22.54,167.57,501.77,123.32,558.69,549.09,468.15,349.15,244.48,49.73
31$普陀,30.05,221.24,613.52,167.51,653.81,674.08,573.45,394.95,288.95,134.40
31$杨浦,26.45,200.85,566.31,143.38,713.35,646.17,578.04,583.79,253.62,87.66
31$松江,53.28,385.05,1068.34,322.98,1566.26,1633.38,1419.11,1631.81,1069.42,311.00
31$浦东,119.48,899.08,2574.53,668.58,3773.81,3727.14,3244.46,2868.21,1820.86,651.33
31$虹口,17.10,140.45,396.57,102.40,542.24,529.33,455.50,298.49,215.50,35.45
31$金山,21.86,161.89,438.52,128.92,489.14,458.13,365.59,370.63,307.14,136.36
31$长宁,14.26,103.09,328.25,78.66,494.10,507.76,425.79,263.65,213.11,137.49
31$闵行,53.15,417.12,1272.24,327.66,1710.67,1734.14,1564.26,1254.50,1131.74,251.14
31$青浦,26.25,215.14,579.35,171.72,860.85,852.53,734.60,583.02,414.68,194.78
31$静安,28.98,197.89,577.63,155.69,836.17,743.89,731.36,550.28,392.24,164.66
31$黄浦,14.63,107.26,325.56,90.69,569.33,480.43,437.17,313.01,251.49,82.56

In [19]:
import pandas as pd
data2=pd.read_excel(r"E:\彩票数据\山西\山西季报\日期-小时-游戏.xlsx",sheet_name=0)
data2

         日期   小时  省份     游戏      销量     票数         季度
0     45421  07时  上海    双色球   59966   4606  2024年第2季度
1     45414  06时  上海    双色球    8144    546  2024年第2季度
2     45413  12时  上海   福彩3D  105590   3761  2024年第2季度
3     45416  13时  上海   15选5    4352    568  2024年第2季度
4     45413  00时  上海  东方6+1     414     45  2024年第2季度
...     ...  ...  ..    ...     ...    ...        ...
7183  45465  20时  上海    快乐8  751838  15881  2024年第2季度
7184  45460  03时  上海    快乐8     608      4  2024年第2季度
7185  45462  05时  上海     选4      34      4  2024年第2季度
7186  45418  05时  上海     选4      48      5  2024年第2季度
7187  45413  04时  上海   福彩3D      50      1  2024年第2季度

[7188 rows x 7 columns]

In [20]:
import pandas as pd
# data2=pd.read_excel(r"E:\彩票数据\山西\山西月报\2024年5月报\月份-地市-游戏-票单价.xlsx",sheet_name=0)
a_data = data2[(data2['季度'] == '2024年第2季度') ]
a_data
games = ["00时", "01时", "02时", "03时", "04时", "05时","06时", "07时", "08时", "09时", "10时", "11时","12时", "13时", "14时", "15时", "16时", "17时","18时", "19时", "20时", "21时", "22时", "23时" ,"24时"]
ppt_30_excel = pd.DataFrame()
for game in games:
    ppt_30_excel[game] = a_data[a_data['小时'] == game].groupby('省份')['销量'].sum() * 1e-4
    ppt_30_excel[game] = ppt_30_excel[game].apply(lambda x: '{:.2f}'.format(x))
# ppt_28_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_28.xlsx" % (month))
ppt_30_excel

,00时,01时,02时,03时,04时,05时,06时,07时,08时,09时,...,15时,16时,17时,18时,19时,20时,21时,22时,23时,24时
省份,,,,,,,,,,,,,,,,,,,,,
上海,27867.61,52.86,28.11,0.98,0.62,5.47,56.62,309.27,1639.54,2638.58,...,4517.27,5490.09,6872.57,9564.14,14674.71,7221.16,440.06,527.65,183.57,nan

In [21]:
import pandas as pd
data=pd.read_excel(r"E:\彩票数据\山西\山西季报\近4年上海统计数据.xlsx",sheet_name=0)
data

         日期  地市     游戏       销量      月份   季度
0     44166  中心    双色球    47502  202012  NaN
1     44166  中心    七乐彩    20940  202012  NaN
2     44166  中心   福彩3D     4874  202012  NaN
3     44166  中心     选4     1556  202012  NaN
4     44166  中心   15选5     8502  202012  NaN
...     ...  ..    ...      ...     ...  ...
5699  45474  黄浦    快乐8   951642  202407  NaN
5700  45474  黄浦    即开票  3169700  202407  NaN
5701  45474  黄浦     选4   186474  202407  NaN
5702  45474  黄浦   15选5   120470  202407  NaN
5703  45474  黄浦  东方6+1    23354  202407  NaN

[5704 rows x 6 columns]

In [22]:
ppt_31_excel = pd.DataFrame()
ppt_31_excel['2024年第2季度'] = data[data['季度'] == '2024年第2季度'].groupby('地市')['销量'].sum()
ppt_31_excel['2024年第1季度'] = data[data['季度'] == '2024年第1季度'].groupby('地市')['销量'].sum()
ppt_31_excel['2023年第4季度'] = data[data['季度'] == '2023年第4季度'].groupby('地市')['销量'].sum()
ppt_31_excel['2023年第3季度'] = data[data['季度'] == '2023年第3季度'].groupby('地市')['销量'].sum()
ppt_31_excel

    2024年第2季度  2024年第1季度  2023年第4季度  2023年第3季度
地市
中心  103311702   91511308  103740792   97207486
嘉定  139283838  120418062  116484354  132397818
奉贤   68930230   67160992   64979520   76127960
宝山  122241746  117465234  111041946  121814838
崇明   24909490   23033750   21130008   23680528
徐汇   48774092   47872952   45582254   50566620
普陀   61406960   55927028   55110346   56112840
杨浦   60347908   51362126   49057798   52213018
松江  148908252  135335620  134958526  147799444
浦东  314815714  294123652  275835560  320459064
渠道    2440000    5639500   15844500   27406800
虹口   42439964   38461906   36870538   39106584
金山   44944360   40982702   39397252   41216018
长宁   49257324   38163398   38203098   42574266
闵行  155945926  140904200  140863900  160055992
青浦   74260704   69203730   67239104   80493518
静安   69691066   66601276   64117426   71759284
黄浦   41113390   38060262   36970136   38879376

In [23]:
import pandas as pd
data3=pd.read_excel(r"E:\彩票数据\山西\山西季报\月份-地市-游戏-倍投.xlsx",sheet_name=0)
ppt=pd.DataFrame()
a_data = data3[(data3['季度'] == "2024年第2季度") ]
games = ["01$单倍","02$两倍","03$3到5倍","04$6到10倍","05$11到20倍","06$21到100倍"]
ppt_46_excel = pd.DataFrame()
for game in games:
    ppt_46_excel[game] = a_data[a_data['倍投'] == game].groupby('地市')['销量'].sum() * 1e-4
    ppt_46_excel[game] = ppt_46_excel[game].apply(lambda x: '{:.2f}'.format(x))
# ppt_46_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_46.xlsx" % (month))
ppt_46_excel

          01$单倍    02$两倍  03$3到5倍 04$6到10倍 05$11到20倍 06$21到100倍
地市
31$中心   3520.84   692.09  1057.91   542.49    261.28     682.48
31$嘉定   5899.03   428.74   824.36   613.92    362.08     634.29
31$奉贤   2749.59   256.72   490.46   334.36    159.39     315.54
31$宝山   4873.44   446.83   831.00   584.69    375.47     543.17
31$崇明    877.41   100.36   197.56   128.76     83.90      93.58
31$徐汇   1854.65   189.68   371.25   262.47    102.54     253.89
31$普陀   2320.53   261.35   484.50   278.24    107.96     299.39
31$杨浦   2310.73   225.89   454.64   390.76    179.04     238.55
31$松江   5870.08   462.34   945.14   789.97    502.39     890.71
31$浦东  13115.24  1085.54  2089.64  1520.22    812.66    1724.18
31$渠道    120.00      nan      nan      nan       nan        nan
31$虹口   1793.94   151.19   328.62   191.77     96.82     170.68
31$金山   1741.55   174.41   350.76   242.23     99.29     269.93
31$长宁   1689.27   133.74   252.08   153.76     72.09     265.20
31$闵行   6023.05   529.99  1051.53   750.72    350.33    1011.00
31$青浦   2879.58   244.16   490.75   350.51    161.10     506.81
31$静安   2782.23   240.41   481.88   317.70    195.60     360.97
31$黄浦   1693.22   138.12   296.23   190.53     95.91     258.12

In [24]:
import pandas as pd
data3=pd.read_excel(r"E:\彩票数据\山西\山西季报\月份-地市-游戏-倍投.xlsx",sheet_name=0)
ppt=pd.DataFrame()
a_data = data3[(data3['季度'] == "2024年第2季度") ]
games = ["01$单倍","02$两倍","03$3到5倍","04$6到10倍","05$11到20倍","06$21到100倍"]
ppt_47_excel = pd.DataFrame()
for game in games:
    ppt_47_excel[game] = a_data[a_data['倍投'] == game].groupby('游戏')['销量'].sum() * 1e-4
    ppt_47_excel[game] = ppt_47_excel[game].apply(lambda x: '{:.2f}'.format(x))
# ppt_47_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_47.xlsx" % (month))
ppt_47_excel

             01$单倍    02$两倍  03$3到5倍 04$6到10倍 05$11到20倍 06$21到100倍
游戏
01$双色球    20494.49  3630.94  5496.49  2733.06    892.31    3465.17
02$七乐彩      453.95    24.11    28.97     6.18      1.61       2.82
03$福彩3D    3153.20  1256.69  3595.95  2589.78   1294.24    4890.94
04$快乐8     8833.60   579.86  1392.49  2078.75   1713.80        nan
05$即开票    27809.80      nan      nan      nan       nan        nan
17$选4       835.22   186.02   354.36   167.75     68.05     101.21
24$15选5     375.58    59.56    93.51    47.44     37.12      42.60
25$东方6+1    158.53    24.37    36.52    20.14     10.72      15.76