In [1]:
year = int(input("请输入年份："))
month = int(input("请输入月份："))

In [2]:
# 输入文件名
# .xlsx
import numpy
import pandas as pd
data=pd.read_excel("E:\彩票数据\山西\山西年报\近4年上海统计数据.xlsx",sheet_name=0)
data

         日期  地市     游戏       销量     年
0     44166  中心    双色球    47502  2020
1     44166  中心    七乐彩    20940  2020
2     44166  中心   福彩3D     4874  2020
3     44166  中心     选4     1556  2020
4     44166  中心   15选5     8502  2020
...     ...  ..    ...      ...   ...
5699  45474  黄浦    快乐8   951642  2024
5700  45474  黄浦    即开票  3169700  2024
5701  45474  黄浦     选4   186474  2024
5702  45474  黄浦   15选5   120470  2024
5703  45474  黄浦  东方6+1    23354  2024

[5704 rows x 5 columns]

In [3]:
ppt_4_excel = pd.DataFrame()
# 计算不同年份的销量总和
a_data = data[data['年'] == year]
b_data = data[data['年'] == year-1]
a_sum = a_data['销量'].sum() * 1e-8
b_sum = b_data['销量'].sum() * 1e-8
# 格式化销量数据并存入ppt_4_excel
ppt_4_excel.loc['总销量', '2023年销量'] = '{:.2f}'.format(b_sum)
ppt_4_excel.loc['总销量', '2024年销量'] = '{:.2f}'.format(a_sum)
ppt_4_excel

    2023年销量 2024年销量
总销量   56.46   33.41

In [4]:
def get_5_years(year):
    year_list = []
    for y in range(year - 4, year + 1):
        year_list.append(y)
    return year_list
months_near_5_years = get_5_years(year)

data_sale = []
for y in months_near_5_years:
    yearly_sales = data[data["年"] == y]["销量"].sum()
    data_sale.append(yearly_sales * 1e-8)
# 生成DataFrame
ppt_5_excel_2 = pd.DataFrame()
ppt_5_excel_2["年份"] = months_near_5_years
ppt_5_excel_2["销量(亿元)"] = data_sale
ppt_5_excel_2["销量(亿元)"] = ppt_5_excel_2["销量(亿元)"].apply(lambda x: format(x, ".4f"))
ppt_5_excel_2

     年份   销量(亿元)
0  2020   0.0179
1  2021  43.4398
2  2022  34.2146
3  2023  56.4558
4  2024  33.4079

In [5]:
import_game_list=["双色球","福彩3D","七乐彩","即开票","快乐8","15选5","东方6+1","选4"]
game_list=list(data["游戏"])
new_game_list=[]
# 将福彩游戏进行区分（其他的本地游戏进行统一命名）
for i in game_list:
    if i in import_game_list:
        new_game_list.append(i)
    else:
        #new_game_list.append("地方游戏")
        if i =="快乐8(新)":
            new_game_list.append("快乐8")
        else:
            new_game_list.append("地方游戏")
data["gamename"]=new_game_list
data["gamename"].value_counts()
game_name=["双色球","福彩3D","七乐彩","即开票","快乐8","15选5","东方6+1","选4","地方游戏"]
sales=[]
huanbis=[]
tongbis=[]
for i in game_name:
    data_sale=data.loc[data["年"]==year].loc[data["gamename"]==i]["销量"]
    a=data_sale.sum()
    data_sale=data.loc[data["年"]==year-1].loc[data["gamename"]==i]["销量"]
    b=data_sale.sum()
    tongbi=a/b-1
    sales.append(a)
    tongbis.append(tongbi)
    #print("2023年5月总销量:%d\n2023年4月总销量:%d\n2022年5月总销量:%d"%(a,b,c))
    print("%d年游戏  %s  :%d"%(year,i,a))
    print("同比去年:%.2f%%\n"%(tongbi*100))
game_sale1=[]
game_sale2=[]
game_sale_change=[]
game_sale_huanbi_add=[]
for i in game_name:
    a=data.loc[data["年"]==year].loc[data["gamename"]==i]["销量"].sum()
    b=data.loc[data["年"]==year-1].loc[data["gamename"]==i]["销量"].sum()
    game_sale1.append(a*1e-4)
    game_sale2.append(b*1e-4)
    game_sale_change.append((b-a)*1e-4)
    game_sale_huanbi_add.append(b/a-1)
ppt_6_excel=pd.DataFrame()
ppt_6_excel["游戏"]=game_name
ppt_6_excel["%d年销量(亿元)"%(year)]=game_sale1
ppt_6_excel["%d年销量(亿元)"%(year)]=ppt_6_excel["%d年销量(亿元)"%(year)].apply(lambda x:format(x,".2f"))
# ppt_6_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_6.xlsx"%(month))
ppt_6_excel

2024年游戏  双色球  :1208805632
同比去年:-46.01%

2024年游戏  福彩3D  :522551394
同比去年:-28.82%

2024年游戏  七乐彩  :16703732
同比去年:-44.12%

2024年游戏  即开票  :1098556200
同比去年:-42.07%

2024年游戏  快乐8  :412013006
同比去年:-31.46%

2024年游戏  15选5  :18708878
同比去年:-42.91%

2024年游戏  东方6+1  :8431204
同比去年:-43.00%

2024年游戏  选4  :55023924
同比去年:-43.69%

2024年游戏  地方游戏  :0
同比去年:nan%

D:\biye\python37\lib\site-packages\ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in longlong_scalars
D:\biye\python37\lib\site-packages\ipykernel_launcher.py:41: RuntimeWarning: invalid value encountered in longlong_scalars

      游戏 2024年销量(亿元)
0    双色球   120880.56
1   福彩3D    52255.14
2    七乐彩     1670.37
3    即开票   109855.62
4    快乐8    41201.30
5   15选5     1870.89
6  东方6+1      843.12
7     选4     5502.39
8   地方游戏        0.00

In [6]:
ppt=pd.DataFrame()
a_data = data[(data['年'] == year) ]
b_data = data[(data['年'] == year-1) ]
ppt['2024年销量'] = a_data.groupby('游戏')['销量'].sum()*1e-4
ppt['2023年销量'] = b_data.groupby('游戏')['销量'].sum()*1e-4
ppt_7_excel=pd.DataFrame()
ppt_7_excel['2024年销量'] = ppt['2024年销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_7_excel['2023年销量'] = ppt['2023年销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_7_excel['同比增幅'] = ( ppt['2024年销量']/ ppt['2023年销量']-1).apply(lambda x: '{:.2%}'.format(x))
ppt_7_excel['各城市销量增长情况'] = ( ppt['2024年销量']- ppt['2023年销量'])
# ppt_7_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_7.xlsx"%(month))
ppt_7_excel

         2024年销量    2023年销量     同比增幅    各城市销量增长情况
游戏
15选5     1870.89    3277.21  -42.91%   -1406.3214
七乐彩      1670.37    2989.22  -44.12%   -1318.8496
东方6+1     843.12    1479.10  -43.00%    -635.9808
即开票    109855.62  189632.60  -42.07%  -79776.9800
双色球    120880.56  223880.41  -46.01% -102999.8476
快乐8     41201.30   60116.08  -31.46%  -18914.7746
福彩3D    52255.14   73411.63  -28.82%  -21156.4900
选4       5502.39    9772.06  -43.69%   -4269.6628

In [7]:
ppt=pd.DataFrame()
a_data = data[(data['年'] == year) ]
b_data = data[(data['年'] == year-1) ]
ppt['2024年销量'] = a_data.groupby('地市')['销量'].sum()*1e-4
ppt['2023年销量'] = b_data.groupby('地市')['销量'].sum()*1e-4
ppt_8_excel=pd.DataFrame()
ppt_8_excel['2024年销量'] = ppt['2024年销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_8_excel['2023年销量'] = ppt['2023年销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_8_excel['同比增幅'] = ( ppt['2024年销量']/ ppt['2023年销量']-1).apply(lambda x: '{:.2%}'.format(x))
ppt_8_excel['各城市销量增长情况'] = ( ppt['2024年销量']- ppt['2023年销量'])
# ppt_8_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_8.xlsx"%(month))
ppt_8_excel

     2024年销量    2023年销量     同比增幅   各城市销量增长情况
地市
中心  21710.80   44154.88  -50.83% -22444.0848
嘉定  28958.65   46974.93  -38.35% -18016.2810
奉贤  14974.49   26128.17  -42.69% -11153.6806
宝山  26423.00   43469.65  -39.22% -17046.6536
崇明   5256.67    8805.85  -40.30%  -3549.1826
徐汇  10674.18   18002.91  -40.71%  -7328.7298
普陀  12979.26   20797.37  -37.59%  -7818.1102
杨浦  12410.97   18830.31  -34.09%  -6419.3322
松江  31629.34   52649.76  -39.93% -21020.4250
浦东  67530.05  112338.69  -39.89% -44808.6346
渠道    807.95    4692.03  -82.78%  -3884.0800
虹口   9012.61   14024.63  -35.74%  -5012.0164
金山   9489.34   15126.30  -37.27%  -5636.9612
长宁   9593.85   14608.64  -34.33%  -5014.7850
闵行  32844.02   56533.98  -41.90% -23689.9604
青浦  15870.36   27481.63  -42.25% -11611.2786
静安  15096.16   25910.26  -41.74% -10814.0982
黄浦   8817.70   14028.31  -37.14%  -5210.6126

In [8]:
ppt=pd.DataFrame()
a_data = data[(data['年'] == year) ]
games = ['双色球', '即开票', '快乐8', '福彩3D', '七乐彩', '地方游戏']
for game in games:
    ppt[f'{game}销量'] = a_data[a_data['游戏'] == game].groupby('地市')['销量'].sum() * 1e-4
ppt_10_excel=pd.DataFrame()
ppt_10_excel['双色球'] = ppt['双色球销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_10_excel['即开票'] = ppt['即开票销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_10_excel['快乐8'] = ppt['快乐8销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_10_excel['福彩3D'] = ppt['福彩3D销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_10_excel['七乐彩'] = ppt['七乐彩销量'].apply(lambda x: '{:.2f}'.format(x))
# ppt_10_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_10.xlsx"%(month))
ppt_10_excel

         双色球       即开票      快乐8      福彩3D     七乐彩
地市
中心  16927.13       nan      nan   2938.31  625.05
嘉定   8160.48  10914.38  4849.08   4628.58   78.58
奉贤   5033.86   5017.14  2127.57   2531.22   32.22
宝山   9059.75   9408.00  3561.85   3635.39   94.41
崇明   1665.29   1703.56   457.65   1158.86   20.50
徐汇   4597.71   3467.81   926.19   1223.75   54.86
普陀   5430.44   3768.41  1269.14   2011.13   62.45
杨浦   4429.14   4056.92  1685.57   1791.34   44.88
松江   9417.24  10631.79  5685.67   5457.17   83.99
浦东  21635.57  24596.64  9587.23  10104.57  201.55
虹口   3415.41   3106.56  1016.17   1089.58   40.30
金山   3514.81   2610.56  1154.96   1922.24   32.69
长宁   3208.17   3599.26   625.13   1906.06   35.81
闵行  11079.82  11751.78  3704.90   5462.58  104.44
青浦   4784.14   6026.38  1943.97   2908.38   32.59
静安   5392.34   5254.86  1740.97   2143.35   89.42
黄浦   3129.26   3133.62   865.25   1342.65   36.64

In [9]:
import pandas as pd
data1=pd.read_excel(r"E:\彩票数据\山西\山西年报\地市-游戏-票单价.xlsx",sheet_name=0)
data1

          日期  地市     游戏        票价区间       销量     年
0      45108  中心    双色球        02$2  2545318  2023
1      45108  中心    双色球      04$4-8  3848746  2023
2      45108  中心    双色球       05$10  5036060  2023
3      45108  中心    双色球    06$12-18  1763890  2023
4      45108  中心    双色球       07$20  2034020  2023
...      ...  ..    ...         ...      ...   ...
13181  45413  黄浦  东方6+1    08$22-48     4712  2024
13182  45413  黄浦  东方6+1    09$50-98     1196  2024
13183  45413  黄浦  东方6+1  10$100-198     1478  2024
13184  45413  黄浦  东方6+1  11$200-998     1314  2024
13185  45413  黄浦  东方6+1   12$1000以上     1296  2024

[13186 rows x 6 columns]

In [10]:
ppt=pd.DataFrame()
b_data = data1[(data1['年'] == year) ]
ppt['双色球销量'] = b_data[(b_data['游戏'] == '双色球') ].groupby('票价区间')['销量'].sum()*1e-4
ppt['快乐8销量'] = b_data[(b_data['游戏'] == '快乐8') ].groupby('票价区间')['销量'].sum()*1e-4
ppt['福彩3D销量'] = b_data[(b_data['游戏'] == '福彩3D') ].groupby('票价区间')['销量'].sum()*1e-4
ppt['七乐彩销量'] = b_data[(b_data['游戏'] == '七乐彩') ].groupby('票价区间')['销量'].sum()*1e-4
ppt_15_excel=pd.DataFrame()
ppt_15_excel['双色球'] = ppt['双色球销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_15_excel['快乐8'] = ppt['快乐8销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_15_excel['福彩3D'] = ppt['福彩3D销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_15_excel['七乐彩'] = ppt['七乐彩销量'].apply(lambda x: '{:.2f}'.format(x))
# ppt_15_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_15.xlsx"%(month))
ppt_15_excel

                 双色球       快乐8     福彩3D     七乐彩
票价区间
02$2         1875.54    290.16   293.57  113.48
04$4-8       7995.64   1353.73  2243.46  184.63
05$10       21071.34   2182.97  4252.91  361.09
06$12-18     5046.67   1204.80  1660.79  183.10
07$20        8691.59   1986.16  4201.37   30.54
08$22-48    12638.52   3451.94  5395.85   37.43
09$50-98     9929.04   2598.02  4943.86  136.84
10$100-198  10433.43  10481.72  4896.98   15.60
11$200-998   9802.71   3021.85  7614.93  127.41
12$1000以上    3774.45   1588.20  4000.01   49.83

In [11]:
import pandas as pd
data2=pd.read_excel(r"E:\彩票数据\山西\山西年报\日期-小时-游戏.xlsx",sheet_name=0)
ppt=pd.DataFrame()
c_data = data2[(data2['年'] == year) ]
ppt['双色球销量'] = c_data[(c_data['游戏'] == '双色球') ].groupby('小时')['销量'].sum()*1e-4
ppt['快乐8销量'] = c_data[(c_data['游戏'] == '快乐8') ].groupby('小时')['销量'].sum()*1e-4
ppt['福彩3D销量'] = c_data[(c_data['游戏'] == '福彩3D') ].groupby('小时')['销量'].sum()*1e-4
ppt['七乐彩销量'] = c_data[(c_data['游戏'] == '七乐彩') ].groupby('小时')['销量'].sum()*1e-4
ppt_17_excel=pd.DataFrame()
ppt_17_excel['双色球'] = ppt['双色球销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_17_excel['快乐8'] = ppt['快乐8销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_17_excel['福彩3D'] = ppt['福彩3D销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_17_excel['七乐彩'] = ppt['七乐彩销量'].apply(lambda x: '{:.2f}'.format(x))
# ppt_17_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_17.xlsx"%(month))
ppt_17_excel

         双色球      快乐8     福彩3D     七乐彩
小时
00时    46.12     4.14    15.20    1.75
01时    37.04     0.90    12.10    2.33
02时    24.69     0.15     6.08    1.02
03时     0.20     0.48     0.81    0.00
04时     0.35     0.17     0.38    0.00
05时     4.18     0.91     1.21    0.06
06时    35.23    13.05    11.42    0.65
07时   195.67    63.35    87.12    2.59
08时  1297.43   214.78   269.14   46.02
09时  2133.12   421.65   504.26   37.86
10时  2541.89   657.69   664.60   31.98
11时  2180.05   812.16   561.52   28.77
12时  2219.99   794.58   608.12   34.85
13时  2298.38   718.08   655.12   28.00
14时  2398.66   821.32   791.79   38.05
15时  3280.09  1008.47   871.67   42.94
16时  4017.46  1214.17  1134.89   43.05
17时  4298.74  1508.14  1497.86   58.64
18时  5682.72  1698.89  3156.70   78.01
19时  9012.97  2509.24  5869.80  112.53
20时   666.15  3619.23  3706.21    5.47
21时   314.00    37.53   111.28    4.57
22时   340.53    76.18   131.35    9.37
23时   133.75    16.51    26.30    4.73

In [12]:
year_near12=get_5_years(year)[1:]
game_name=["双色球","福彩3D","七乐彩","即开票","快乐8","15选5","东方6+1","选4","地方游戏"]
game_sales={i:[] for i in year_near12}
for i in game_name:
    for j in year_near12:
        a=data.loc[data["年"]==j].loc[data["gamename"]==i]["销量"].sum()
        game_sales[j].append(a*1e-4)
def get_weici(list_data,num):
    weici=1
    for i in list_data:
        if i>num:
            weici+=1
    return weici
# [j[i] for j in list(game_sales.values())]
weici=[get_weici([j[i] for j in list(game_sales.values())],[j[i] for j in list(game_sales.values())][-1]) for i in range(len(game_name))]
ppt_19_excel=pd.DataFrame()
ppt_19_excel[""]=game_name
for i in year_near12:
    ppt_19_excel[i]=game_sales[i]
    ppt_19_excel[i]=ppt_19_excel[i].apply(lambda x:format(x,".2f"))
ppt_19_excel["本月在近12月销量排名"]=weici
# ppt_19_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_19.xlsx"%(month))
ppt_19_excel

               2021       2022       2023       2024  本月在近12月销量排名
0    双色球  225849.34  178011.13  223880.41  120880.56            4
1   福彩3D   37175.74   44579.80   73411.63   52255.14            2
2    七乐彩    3202.70    2927.04    2989.22    1670.37            4
3    即开票   98181.56   72971.44  189632.60  109855.62            2
4    快乐8   29994.28   32459.90   60116.08   41201.30            2
5   15选5    2751.64    2869.68    3277.21    1870.89            4
6  东方6+1    1331.40    1257.67    1479.10     843.12            4
7     选4    8015.39    7069.43    9772.06    5502.39            4
8   地方游戏   27895.74       0.00       0.00       0.00            2

In [13]:
from datetime import datetime
ppt = pd.DataFrame()
a_data = data[(data['年'] >= year-4) & (data['年'] <= year)]
ppt['双色球'] = a_data[a_data['游戏'] == '双色球'].groupby('年')['销量'].sum()
ppt['即开票'] = a_data[a_data['游戏'] == '即开票'].groupby('年')['销量'].sum()
ppt['快乐8'] = a_data[a_data['游戏'] == '快乐8'].groupby('年')['销量'].sum()
ppt['3D'] = a_data[a_data['游戏'] == '福彩3D'].groupby('年')['销量'].sum()
ppt['总销量'] = a_data.groupby('年')['销量'].sum()
ppt_20_excel = pd.DataFrame()
ppt_20_excel['快乐8市场份额'] = (ppt['快乐8'] / ppt['总销量']).apply(lambda x: '{:.1%}'.format(x))
ppt_20_excel['即开票市场份额'] = (ppt['即开票'] / ppt['总销量']).apply(lambda x: '{:.1%}'.format(x))
ppt_20_excel['3D市场份额'] = (ppt['3D'] / ppt['总销量']).apply(lambda x: '{:.1%}'.format(x))
ppt_20_excel['双色球市场份额'] = (ppt['双色球'] / ppt['总销量']).apply(lambda x: '{:.1%}'.format(x))
# ppt_20_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_20.xlsx"%(month))
ppt_20_excel

     快乐8市场份额 即开票市场份额 3D市场份额 双色球市场份额
年
2020    nan%    nan%   2.0%   90.4%
2021    6.9%   22.6%   8.6%   52.0%
2022    9.5%   21.3%  13.0%   52.0%
2023   10.6%   33.6%  13.0%   39.7%
2024   12.3%   32.9%  15.6%   36.2%

In [14]:
data1 = data1[(data1['游戏'] == "双色球") ]
year_near5=get_5_years(year)[1:]
# game_name=["2","4-8","10","12-18","20","22-48","50-98","100-198","200-998","1000以上"]
game_name=["02$2","04$4-8","05$10","06$12-18","07$20","08$22-48","09$50-98","10$100-198","11$200-998","12$1000以上"]
game_sales={i:[] for i in year_near5}
for i in game_name:
    for j in year_near5:
        a=data1.loc[data1["年"]==j].loc[data1["票价区间"]==i]["销量"].sum()
        game_sales[j].append(a*1e-4)
def get_weici(list_data,num):
    weici=1
    for i in list_data:
        if i>num:
            weici+=1
    return weici
# [j[i] for j in list(game_sales.values())]
weici=[get_weici([j[i] for j in list(game_sales.values())],[j[i] for j in list(game_sales.values())][-1]) for i in range(len(game_name))]
ppt_21_excel=pd.DataFrame()
ppt_21_excel[""]=game_name
for i in year_near5:
    ppt_21_excel[i]=game_sales[i]
    ppt_21_excel[i]=ppt_21_excel[i].apply(lambda x:format(x,".2f"))
ppt_21_excel["本月在近12月销量排名"]=weici
# ppt_21_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_20.xlsx"%(month))
ppt_21_excel

               2021  2022      2023      2024  本月在近12月销量排名
0        02$2  0.00  0.00   2360.19   1875.54            2
1      04$4-8  0.00  0.00   9442.98   7995.64            2
2       05$10  0.00  0.00  26364.49  21071.34            2
3    06$12-18  0.00  0.00   6126.22   5046.67            2
4       07$20  0.00  0.00  14621.83   8691.59            2
5    08$22-48  0.00  0.00  14414.15  12638.52            2
6    09$50-98  0.00  0.00  12894.61   9929.04            2
7  10$100-198  0.00  0.00  13814.58  10433.43            2
8  11$200-998  0.00  0.00  12997.28   9802.71            2
9   12$1000以上  0.00  0.00   5067.15   3774.45            2

In [15]:
import pandas as pd
data3=pd.read_excel(r"E:\彩票数据\山西\山西年报\地市-游戏-倍投.xlsx",sheet_name=0)
data3

         日期  地市     游戏          倍投        销量     年
0     45108  中心    双色球       01$单倍  14067700  2023
1     45108  中心    双色球       02$两倍   2741752  2023
2     45108  中心    双色球     03$3到5倍   3879084  2023
3     45108  中心    双色球    04$6到10倍   1677026  2023
4     45108  中心    双色球   05$11到20倍    809388  2023
...     ...  ..    ...         ...       ...   ...
7692  45413  黄浦  东方6+1       02$两倍      1830  2024
7693  45413  黄浦  东方6+1     03$3到5倍      3872  2024
7694  45413  黄浦  东方6+1    04$6到10倍      2654  2024
7695  45413  黄浦  东方6+1   05$11到20倍       866  2024
7696  45413  黄浦  东方6+1  06$21到100倍       792  2024

[7697 rows x 6 columns]

In [16]:
data3 = data3[(data3['游戏'] == "双色球") ]
year_near5=get_5_years(year)[1:]
game_name=["01$单倍","02$两倍","03$3到5倍","04$6到10倍","05$11到20倍","06$21到100倍"]
game_sales={i:[] for i in year_near5}
for i in game_name:
    for j in year_near5:
        a=data3.loc[data3["年"]==j].loc[data3["倍投"]==i]["销量"].sum()
        game_sales[j].append(a*1e-4)
def get_weici(list_data,num):
    weici=1
    for i in list_data:
        if i>num:
            weici+=1
    return weici
# [j[i] for j in list(game_sales.values())]
weici=[get_weici([j[i] for j in list(game_sales.values())],[j[i] for j in list(game_sales.values())][-1]) for i in range(len(game_name))]
ppt_24_excel=pd.DataFrame()
ppt_24_excel[""]=game_name
for i in year_near5:
    ppt_24_excel[i]=game_sales[i]
    ppt_24_excel[i]=ppt_24_excel[i].apply(lambda x:format(x,".2f"))
ppt_24_excel["本月在近12月销量排名"]=weici
# ppt_24_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_20.xlsx"%(month))
ppt_24_excel

               2021  2022      2023      2024  本月在近12月销量排名
0       01$单倍  0.00  0.00  64710.03  51420.37            2
1       02$两倍  0.00  0.00  13727.43   8840.97            2
2     03$3到5倍  0.00  0.00  17160.25  13661.16            2
3    04$6到10倍  0.00  0.00   8916.13   6526.33            2
4   05$11到20倍  0.00  0.00   2856.14   2457.57            2
5  06$21到100倍  0.00  0.00  10733.51   8352.52            2

In [17]:
import pandas as pd
data1=pd.read_excel(r"E:\彩票数据\山西\山西年报\地市-游戏-票单价.xlsx",sheet_name=0)
ppt=pd.DataFrame()
a_data = data1[(data1['年'] == year) ]
games = ["02$2", "04$4-8", "05$10", "06$12-18", "07$20", "08$22-48", "09$50-98", "10$100-198", "11$200-998", "12$1000以上"]
ppt_28_excel = pd.DataFrame()
for game in games:
    ppt_28_excel[game] = a_data[a_data['票价区间'] == game].groupby('地市')['销量'].sum() * 1e-4
    ppt_28_excel[game] = ppt_28_excel[game].apply(lambda x: '{:.2f}'.format(x))
# ppt_28_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_28.xlsx" % (month))
ppt_28_excel

,02$2,04$4-8,05$10,06$12-18,07$20,08$22-48,09$50-98,10$100-198,11$200-998,12$1000以上
地市,,,,,,,,,,
中心,1499.48,2403.68,3053.01,1206.90,1314.13,2105.87,1649.19,1826.36,1162.00,nan
嘉定,106.77,806.19,3279.59,595.14,4436.15,3627.98,2864.11,2314.97,1788.82,1141.26
奉贤,66.78,530.65,1952.18,389.70,2425.69,1855.72,1468.07,1176.97,1016.83,444.22
宝山,118.77,950.27,3529.91,655.71,4441.95,3344.69,2629.81,1957.25,1500.82,709.53
崇明,36.48,241.46,774.04,153.38,934.27,602.39,529.40,397.57,299.59,66.62
徐汇,52.94,422.41,1517.91,278.56,1804.38,1408.76,1008.10,707.15,655.50,185.45
普陀,67.45,550.84,1794.00,372.70,2016.07,1616.84,1248.28,909.50,699.18,475.66
杨浦,60.43,487.31,1670.79,319.69,2021.08,1481.17,1127.05,1171.16,542.85,264.25
松江,119.24,917.20,3679.03,702.74,4500.72,3774.76,3006.46,3027.10,2406.70,1025.85
浦东,276.72,2177.89,8450.44,1495.07,10491.43,8686.15,6819.89,5420.44,4093.08,1574.35
虹口,40.29,348.04,1200.16,227.92,1411.00,1158.85,876.19,676.44,527.75,107.52
金山,49.63,387.55,1334.56,282.39,1381.87,1134.49,802.64,762.12,641.20,292.41
长宁,32.59,256.90,1139.14,173.39,1521.25,1151.31,892.85,527.97,538.31,1103.67
闵行,121.94,1013.43,4072.84,728.62,4983.11,4207.43,3455.47,2468.29,2399.76,1003.48
青浦,59.05,509.00,1997.02,382.19,2702.77,2031.76,1578.42,1186.42,949.57,415.28
静安,62.04,498.32,1827.60,350.60,2478.64,1868.07,1530.72,1184.19,981.71,485.59
黄浦,34.36,271.67,1029.60,203.12,1436.90,1121.39,831.66,644.36,670.03,200.81

In [18]:
import pandas as pd
data2=pd.read_excel(r"E:\彩票数据\山西\山西年报\日期-小时-游戏.xlsx",sheet_name=0)
data2

         日期   小时  地市    游戏      销量      月份     年
0     45413  00时  中心   双色球  163900  202405  2024
1     45413  00时  中心   七乐彩    7750  202405  2024
2     45413  00时  中心  福彩3D   49130  202405  2024
3     45413  00时  中心    选4    6964  202405  2024
4     45413  00时  中心  15选5    2350  202405  2024
...     ...  ...  ..   ...     ...     ...   ...
7183  45465  20时  上海   快乐8  751838   15881  2024
7184  45460  03时  上海   快乐8     608       4  2024
7185  45462  05时  上海    选4      34       4  2024
7186  45418  05时  上海    选4      48       5  2024
7187  45413  04时  上海  福彩3D      50       1  2024

[7188 rows x 7 columns]

In [19]:
a_data = data2[(data2['年'] == year) ]
games = ["00时", "01时", "02时", "03时", "04时", "05时","06时", "07时", "08时", "09时", "10时", "11时","12时", "13时", "14时", "15时", "16时", "17时","18时", "19时", "20时", "21时", "22时", "23时" ,"24时"]
ppt_30_excel = pd.DataFrame()
for game in games:
    ppt_30_excel[game] = a_data[a_data['小时'] == game].groupby('地市')['销量'].sum() * 1e-4
    ppt_30_excel[game] = ppt_30_excel[game].apply(lambda x: '{:.2f}'.format(x))
# ppt_28_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_28.xlsx" % (month))
ppt_30_excel

,00时,01时,02时,03时,04时,05时,06时,07时,08时,09时,...,15时,16时,17时,18时,19时,20时,21时,22时,23时,24时
地市,,,,,,,,,,,,,,,,,,,,,
上海,19651.28,29.61,19.55,0.92,0.45,3.75,38.22,225.74,1077.13,1907.10,...,3192.08,3946.49,4329.56,6262.23,10355.24,4749.86,264.70,350.14,96.38,nan
中心,23.51,24.36,13.38,0.01,nan,nan,nan,nan,318.63,292.71,...,166.24,194.89,236.74,348.40,495.82,76.55,55.80,137.05,72.36,nan
嘉定,939.76,0.66,0.02,0.01,nan,0.14,3.23,14.69,36.82,80.41,...,172.95,218.84,273.44,396.99,637.96,367.89,16.32,10.84,2.43,nan
奉贤,433.62,0.00,0.00,0.01,0.05,0.15,0.67,5.90,22.22,43.84,...,87.41,116.27,161.54,242.77,369.09,204.29,5.51,4.83,0.42,nan
宝山,789.21,0.07,0.05,0.01,nan,0.04,1.53,13.50,50.19,96.14,...,175.01,223.96,269.77,388.31,608.31,251.35,11.37,7.68,2.48,nan
崇明,147.44,0.04,0.03,nan,nan,0.20,1.67,8.54,15.76,20.74,...,35.57,47.91,62.52,81.90,126.62,54.31,2.68,0.76,0.35,nan
徐汇,293.79,0.28,0.09,0.01,nan,0.00,0.86,4.74,28.38,47.67,...,85.65,94.86,111.31,142.84,215.76,72.61,4.75,2.77,0.53,nan
普陀,330.17,0.00,0.01,nan,nan,0.02,0.90,8.10,29.98,59.21,...,99.40,121.37,142.64,195.40,309.27,95.31,6.80,4.87,0.88,nan
杨浦,383.41,0.00,0.03,0.00,0.00,0.08,0.55,6.01,21.51,46.49,...,94.89,101.80,132.41,181.34,275.58,118.29,5.45,2.97,0.45,nan
松江,868.43,0.36,0.10,0.05,nan,1.28,2.87,9.54,47.24,91.14,...,192.96,229.83,315.27,451.51,759.33,498.33,20.39,10.79,1.25,nan
浦东,2153.35,0.17,0.30,0.54,0.27,0.88,8.16,39.02,131.75,235.81,...,427.88,524.90,649.43,937.83,1468.66,736.90,36.92,20.01,5.91,nan
渠道,60.00,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
虹口,291.03,0.01,0.00,0.00,0.00,0.07,0.72,5.09,17.00,39.42,...,71.74,80.34,93.58,125.46,187.61,61.25,4.24,3.45,0.94,nan
金山,237.87,0.00,nan,nan,nan,0.05,0.63,7.53,28.22,52.03,...,65.89,99.31,113.21,170.74,246.10,81.93,1.70,0.28,0.04,nan
长宁,305.15,0.10,0.01,nan,nan,0.00,0.18,3.33,18.32,41.18,...,55.47,87.84,83.86,97.74,144.93,60.60,3.96,2.87,1.32,nan
闵行,1000.49,0.56,0.37,0.02,0.01,0.12,2.62,14.21,58.35,101.12,...,221.94,271.11,332.33,464.83,788.89,407.31,19.08,9.18,2.63,nan
青浦,518.06,0.28,0.02,nan,0.13,0.02,0.55,4.09,16.83,39.67,...,90.27,113.95,153.30,234.88,382.36,197.20,14.54,3.30,1.86,nan
静安,453.86,0.26,0.01,0.01,nan,0.12,1.08,4.16,20.74,61.37,...,123.06,132.38,160.24,210.06,300.52,130.03,8.23,7.57,1.01,nan
黄浦,311.57,nan,nan,nan,nan,0.00,1.24,2.87,8.58,20.01,...,65.73,74.05,94.32,112.89,180.33,68.41,3.96,1.08,0.19,nan

In [20]:
year_near5=get_5_years(year)[1:]
# game_name=["太原市","大同市","朔州市","忻州市","吕梁市","晋中市","长治市","临汾市","晋城市","运城市","阳泉市"]
game_name=["中心","嘉定","奉贤","宝山","崇明","徐汇","普陀","杨浦","松江","浦东","虹口","金山","长宁","闵行","青浦","静安","黄浦"]
game_sales={i:[] for i in year_near5}
for i in game_name:
    for j in year_near5:
        a=data.loc[data["年"]==j].loc[data["地市"]==i]["销量"].sum()
        game_sales[j].append(a*1e-4)
def get_weici(list_data,num):
    weici=1
    for i in list_data:
        if i>num:
            weici+=1
    return weici
# [j[i] for j in list(game_sales.values())]
weici=[get_weici([j[i] for j in list(game_sales.values())],[j[i] for j in list(game_sales.values())][-1]) for i in range(len(game_name))]
ppt_31_excel=pd.DataFrame()
ppt_31_excel[""]=game_name
for i in year_near5:
    ppt_31_excel[i]=game_sales[i]
    ppt_31_excel[i]=ppt_31_excel[i].apply(lambda x:format(x,".2f"))
ppt_31_excel["本月在近12月销量排名"]=weici
# ppt_31_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_31.xlsx"%(month))
ppt_31_excel

            2021      2022       2023      2024  本月在近12月销量排名
0   中心  27019.49  40170.70   44154.88  21710.80            4
1   嘉定  35679.50  26008.45   46974.93  28958.65            3
2   奉贤  19010.96  14844.80   26128.17  14974.49            3
3   宝山  34355.17  24607.34   43469.65  26423.00            3
4   崇明   7054.94   5360.28    8805.85   5256.67            4
5   徐汇  17202.42  11643.73   18002.91  10674.18            4
6   普陀  18187.38  13367.37   20797.37  12979.26            4
7   杨浦  15404.36  10936.41   18830.31  12410.97            3
8   松江  37243.39  29481.65   52649.76  31629.34            3
9   浦东  89618.37  67622.76  112338.69  67530.05            4
10  虹口  12537.55   9012.62   14024.63   9012.61            4
11  金山  13306.54   9736.44   15126.30   9489.34            4
12  长宁  11121.94   7988.71   14608.64   9593.85            3
13  闵行  43931.76  32440.99   56533.98  32844.02            3
14  青浦  19208.89  15299.92   27481.63  15870.36            3
15  静安  20553.18  15505.47   25910.26  15096.16            4
16  黄浦  12263.33   8008.08   14028.31   8817.70            3

In [21]:
import pandas as pd
data3=pd.read_excel(r"E:\彩票数据\山西\山西年报\地市-游戏-倍投.xlsx",sheet_name=0)
ppt=pd.DataFrame()
a_data = data3[(data3['年'] == year) ]
games = ["01$单倍","02$两倍","03$3到5倍","04$6到10倍","05$11到20倍","06$21到100倍"]
ppt_52_excel = pd.DataFrame()
for game in games:
    ppt_52_excel[game] = a_data[a_data['倍投'] == game].groupby('地市')['销量'].sum() * 1e-4
    ppt_52_excel[game] = ppt_52_excel[game].apply(lambda x: '{:.2f}'.format(x))
# ppt_52_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_52.xlsx" % (month))
ppt_52_excel

       01$单倍    02$两倍  03$3到5倍 04$6到10倍 05$11到20倍 06$21到100倍
地市
中心   8496.69  1696.71  2500.87  1279.12    611.93    1635.31
嘉定  14132.77  1022.51  1911.21  1486.28    894.63    1513.58
奉贤   7515.06   619.48  1148.54   785.80    457.60     800.34
宝山  13513.24  1077.36  1985.73  1328.44    735.79    1198.15
崇明   2534.84   248.93   511.55   318.78    166.84     254.27
徐汇   5213.92   484.09   918.70   575.98    248.98     599.50
普陀   6110.83   607.19  1200.23   690.11    372.14     770.03
杨浦   5756.37   542.26  1023.88   783.74    486.28     553.24
松江  14636.95  1135.83  2225.34  1859.46   1263.66    2038.58
浦东  32766.11  2599.85  5030.67  3701.91   1879.87    3507.07
渠道    747.95      nan      nan      nan       nan        nan
虹口   4282.39   360.78   819.82   429.51    286.39     395.27
金山   4464.85   419.66   800.90   576.49    281.62     525.35
长宁   4430.05   319.72   636.53   436.86    220.23    1293.99
闵行  15686.54  1253.55  2536.74  1790.50    913.67    2273.35
青浦   7878.98   576.44  1145.65   826.21    414.79     969.41
静安   7246.53   600.80  1196.13   780.38    463.52     980.11
黄浦   4040.64   343.73   715.93   459.48    239.25     644.88

In [22]:
import pandas as pd
data3=pd.read_excel(r"E:\彩票数据\山西\山西年报\地市-游戏-倍投.xlsx",sheet_name=0)
ppt=pd.DataFrame()
a_data = data3[(data3['年'] == year) ]
games = ["01$单倍","02$两倍","03$3到5倍","04$6到10倍","05$11到20倍","06$21到100倍"]
ppt_53_excel = pd.DataFrame()
for game in games:
    ppt_53_excel[game] = a_data[a_data['倍投'] == game].groupby('游戏')['销量'].sum() * 1e-4
    ppt_53_excel[game] = ppt_53_excel[game].apply(lambda x: '{:.2f}'.format(x))
# ppt_53_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_53.xlsx" % (month))
ppt_53_excel

          01$单倍    02$两倍   03$3到5倍 04$6到10倍 05$11到20倍 06$21到100倍
游戏
15选5     797.95   127.82    177.64    74.72     50.27      68.44
七乐彩     1089.76    59.66     65.56    14.66      4.44       5.86
东方6+1    373.65    57.01     87.06    46.59     27.85      35.12
即开票    81468.44      nan       nan      nan       nan        nan
双色球    51420.37  8840.97  13661.16  6526.33   2457.57    8352.52
快乐8    15027.09  1358.22   3070.66  4666.67   4036.91        nan
福彩3D    7339.12  3038.39   8428.52  6235.88   3200.34   11261.47
选4      1938.32   426.82    817.83   544.16    159.77     229.03