In [1]:
# year=2024
# month=1
# E:\彩票数据\山西\山西月报\2024年5月报\近4年上海统计数据.xlsx
import pandas as pd
# 输入年份和月份
year = int(input("请输入年份："))
month = int(input("请输入月份："))

In [2]:
# 输入文件名
import numpy
import pandas as pd
data=pd.read_excel(r"E:\彩票数据\山西\山西月报\2024年5月报\近4年上海统计数据.xlsx",sheet_name=0)
data

         日期  地市     游戏       销量      月份
0     44166  中心    双色球    47502  202012
1     44166  中心    七乐彩    20940  202012
2     44166  中心   福彩3D     4874  202012
3     44166  中心     选4     1556  202012
4     44166  中心   15选5     8502  202012
...     ...  ..    ...      ...     ...
5699  45474  黄浦    快乐8   951642  202407
5700  45474  黄浦    即开票  3169700  202407
5701  45474  黄浦     选4   186474  202407
5702  45474  黄浦   15选5   120470  202407
5703  45474  黄浦  东方6+1    23354  202407

[5704 rows x 5 columns]

In [3]:
# 环比计算
months=["01","02","03","04","05","06","07","08","09","10","11","12"]
data_sale=data[data["月份"]==int(str(year)+months[month-1])]["销量"]#这里的month-1是用来确定months的索引位置
a=data_sale.sum()
if month!=1:
    data_sale=data[data["月份"]==int(str(year)+months[month-2])]["销量"]
else:
    data_sale=data[data["月份"]==int(str(year-1)+months[month-2])]["销量"]
b=data_sale.sum()
data_sale=data[data["月份"]==int(str(year-1)+months[month-1])]["销量"]
c=data_sale.sum()
huanbi,tongbi=a/b-1,a/c-1
if month!=1:
    print("%d年%d月总销量:%d\n%d年%d月总销量:%d\n%d年%d月总销量:%d"%(year,month,a,year,month-1,b,year-1,month,c))
else:
    print("%d年1月总销量:%d\n%d年12月总销量:%d\n%d年1月总销量:%d"%(year,a,year-1,b,year-1,c))
print("环比上月: %.2f%%\n环比上月增加/减少:%.2f\n同比去年本月: %.2f%%\n" % (huanbi * 100,(a-b)* 1e-4, tongbi * 100))
leiji_month1=[int(str(year)+months[i]) for i in range(month)]
leiji_month2=[int(str(year-1)+months[i]) for i in range(month)]
leiji_sale1=0
leiji_sale2=0
for i in range(month):
    leiji_sale1+=data[data["月份"]==leiji_month1[i]]["销量"].sum()
    leiji_sale2+=data[data["月份"]==leiji_month2[i]]["销量"].sum()
print("去年1-%d累计销量:%d\n今年1-%d累计销量:%d\n同比去年同期:%.2f%%"%(month,leiji_sale2,month,leiji_sale1,(leiji_sale1/leiji_sale2-1)*100))
ppt_4_excel=pd.DataFrame()
if month!=1:
    ppt_4_excel["月份"]=[str(year)+"年"+str(month-1)+"月",str(year)+"年"+str(month)+"月"]
else:
    ppt_4_excel["月份"]=[str(year-1)+"年"+str(12)+"月",str(year)+"年"+str(1)+"月"]
ppt_4_excel["销量(亿元)"]=[b*1e-8,a*1e-8]
ppt_4_excel["销量(亿元)"]=ppt_4_excel["销量(亿元)"].apply(lambda x:format(x,".2f"))
ppt_4_excel["累计月份"]=["%d年1-%d月"%(year-1,month),"%d年1-%d月"%(year,month)]
ppt_4_excel["累计销量(亿元)"]=[leiji_sale2*1e-8,leiji_sale1*1e-8]
ppt_4_excel["累计销量(亿元)"]=ppt_4_excel["累计销量(亿元)"].apply(lambda x:format(x,".2f"))
# ppt_4_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_4.xlsx"%(month))
ppt_4_excel

2024年5月总销量:451992462
2024年4月总销量:582486062
2023年5月总销量:505342236
环比上月: -22.40%
环比上月增加/减少:-13049.36
同比去年本月: -10.56%

去年1-5累计销量:2088370938
今年1-5累计销量:2476706222
同比去年同期:18.60%

        月份 销量(亿元)       累计月份 累计销量(亿元)
0  2024年4月   5.82  2023年1-5月    20.88
1  2024年5月   4.52  2024年1-5月    24.77

In [4]:
def get_13_months(y, m):
    month_list = []
    for i in range(12):
        if m - i > 0:
            month_list.append(int(str(y) + '{:02d}'.format(m - i)))
        else:
            month_list.append(int(str(y - 1) + '{:02d}'.format(12 + m - i)))
    return month_list[::-1]

months_near12 = get_13_months(year, month)

data_sale = []
for i in months_near12:
    a = data[data["月份"] == i]["销量"].sum()
    data_sale.append(a * 1e-8)

ppt_5_excel_1 = pd.DataFrame()

ppt_5_excel_1["月份"] = months_near12[0:]
ppt_5_excel_1["月销量(亿元)"] = data_sale[0:]
ppt_5_excel_1["月销量(亿元)"] = ppt_5_excel_1["月销量(亿元)"].apply(lambda x: format(x, ".4f"))
# ppt_5_excel_1.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_5_1.xlsx"%(month))
ppt_5_excel_1

        月份 月销量(亿元)
0   202306  5.5991
1   202307  4.5529
2   202308  5.8655
3   202309  5.3803
4   202310  3.7254
5   202311  5.0273
6   202312  5.4216
7   202401  5.5157
8   202402  3.1823
9   202403  5.7243
10  202404  5.8249
11  202405  4.5199

In [5]:
def get_5_years_months(year, month):
    month_list = []
    for y in range(year - 4, year + 1):
        month_list.append(int(str(y) + '{:02d}'.format(month)))
    return month_list
months_near_5_years = get_5_years_months(year, month)
data_sale = []
for m in months_near_5_years:
    a = data[data["月份"] == m]["销量"].sum()
    data_sale.append(a * 1e-8)

ppt_5_excel_2= pd.DataFrame()
ppt_5_excel_2["年份月份"] = months_near_5_years
ppt_5_excel_2["销量(亿元)"] = data_sale
ppt_5_excel_2["销量(亿元)"] = ppt_5_excel_2["销量(亿元)"].apply(lambda x: format(x, ".4f"))
# ppt_5_excel_2.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_5_2.xlsx"%(month))
ppt_5_excel_2

     年份月份  销量(亿元)
0  202005  0.0000
1  202105  3.5145
2  202205  0.4065
3  202305  5.0534
4  202405  4.5199

In [6]:

def get_three_months(y,m):
    if m!=1:
        return [int(str(y)+months[m-1]),int(str(y)+months[m-2]),int(str(y-1)+months[m-1])]
    return [int(str(y)+months[m-1]),int(str(y-1)+months[m-2]),int(str(y-1)+months[m-1])]
import_game_list=["双色球","福彩3D","七乐彩","即开票","快乐8","15选5","东方6+1","选4"]
game_list=list(data["游戏"])
new_game_list=[]
for i in game_list:
    if i in import_game_list:
        new_game_list.append(i)
    else:
        if i =="快乐8(新)":
            new_game_list.append("快乐8")
        else:
            new_game_list.append("地方游戏")
data["gamename"]=new_game_list
data["gamename"].value_counts()
game_name=["双色球","福彩3D","七乐彩","即开票","快乐8","15选5","东方6+1","选4","地方游戏"]
sales=[]
huanbis=[]
tongbis=[]
for i in game_name:
    data_sale=data.loc[data["月份"]==get_three_months(year,month)[0]].loc[data["gamename"]==i]["销量"]
    a=data_sale.sum()
    data_sale=data.loc[data["月份"]==get_three_months(year,month)[1]].loc[data["gamename"]==i]["销量"]
    b=data_sale.sum()
    data_sale=data.loc[data["月份"]==get_three_months(year,month)[2]].loc[data["gamename"]==i]["销量"]
    c=data_sale.sum()
    huanbi,tongbi=a/b-1,a/c-1
    sales.append(a)
    huanbis.append(huanbi)
    tongbis.append(tongbi)
    #print("2023年5月总销量:%d\n2023年4月总销量:%d\n2022年5月总销量:%d"%(a,b,c))
    print("%d年游戏  %s  %d月总销量:%d"%(year,i,month,a))
    print("环比上月:%.2f%%\n同比去年本月:%.2f%%\n"%(huanbi*100,tongbi*100))
game_sale1=[]
game_sale2=[]
game_sale_change=[]
game_sale_huanbi_add=[]
for i in game_name:
    a=data.loc[data["月份"]==get_three_months(year,month)[1]].loc[data["gamename"]==i]["销量"].sum()
    b=data.loc[data["月份"]==get_three_months(year,month)[0]].loc[data["gamename"]==i]["销量"].sum()
    game_sale1.append(a*1e-4)
    game_sale2.append(b*1e-4)
    game_sale_change.append((b-a)*1e-4)
    game_sale_huanbi_add.append(b/a-1)
ppt_6_excel=pd.DataFrame()
ppt_6_excel["游戏"]=game_name
ppt_6_excel["%d年%d月销量(亿元)"%(year,month)]=game_sale2
ppt_6_excel["%d年%d月销量(亿元)"%(year,month)]=ppt_6_excel["%d年%d月销量(亿元)"%(year,month)].apply(lambda x:format(x,".4f"))
# ppt_6_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_6.xlsx"%(month))
ppt_6_excel

2024年游戏  双色球  5月总销量:189106528
环比上月:-1.16%
同比去年本月:-1.26%

2024年游戏  福彩3D  5月总销量:88690932
环比上月:-27.86%
同比去年本月:49.96%

2024年游戏  七乐彩  5月总销量:2643256
环比上月:-0.61%
同比去年本月:1.18%

2024年游戏  即开票  5月总销量:95112000
环比上月:-50.87%
同比去年本月:-48.89%

2024年游戏  快乐8  5月总销量:63395066
环比上月:6.57%
同比去年本月:19.99%

2024年游戏  15选5  5月总销量:2843596
环比上月:7.84%
同比去年本月:4.17%

2024年游戏  东方6+1  5月总销量:1355276
环比上月:0.90%
同比去年本月:3.19%

2024年游戏  选4  5月总销量:8845808
环比上月:4.20%
同比去年本月:-2.69%

2024年游戏  地方游戏  5月总销量:0
环比上月:nan%
同比去年本月:nan%

D:\biye\python37\lib\site-packages\ipykernel_launcher.py:36: RuntimeWarning: invalid value encountered in longlong_scalars
D:\biye\python37\lib\site-packages\ipykernel_launcher.py:53: RuntimeWarning: invalid value encountered in longlong_scalars

      游戏 2024年5月销量(亿元)
0    双色球    18910.6528
1   福彩3D     8869.0932
2    七乐彩      264.3256
3    即开票     9511.2000
4    快乐8     6339.5066
5   15选5      284.3596
6  东方6+1      135.5276
7     选4      884.5808
8   地方游戏        0.0000

In [7]:
### 生成本年本月累计月份表
def get_add_months(y,m):
    ###y:year  m:month
    return [int(str(y)+months[i]) for i in range(m)]
game_name=["双色球","福彩3D","七乐彩","即开票","快乐8","15选5","东方6+1","选4","地方游戏"]
leiji_month1=get_add_months(year-1,month)
leiji_month2=get_add_months(year,month)
leiji_game_sale1=[]
leiji_game_sale2=[]
leiji_game_sale_change=[]
leiji_game_sale_tongbi_add=[]
for i in game_name:
    a,b=0,0
    for j in range(len(leiji_month1)):
        a=a+data.loc[data["月份"]==leiji_month1[j]].loc[data["gamename"]==i]["销量"].sum()
        b=b+data.loc[data["月份"]==leiji_month2[j]].loc[data["gamename"]==i]["销量"].sum()
    leiji_game_sale1.append(a*1e-8)
    leiji_game_sale2.append(b*1e-8)
    leiji_game_sale_change.append((b-a)*1e-8)
    leiji_game_sale_tongbi_add.append(b/a-1)
ppt_7_excel=pd.DataFrame()
ppt_7_excel["游戏"]=game_name
ppt_7_excel["%d年1-%d月累计销量(亿元)"%(year-1,month)]=leiji_game_sale1
ppt_7_excel["%d年1-%d月累计销量(亿元)"%(year-1,month)]=ppt_7_excel["%d年1-%d月累计销量(亿元)"%(year-1,month)].apply(lambda x:format(x,".2f"))
ppt_7_excel["%d年1-%d月累计销量(亿元)"%(year,month)]=leiji_game_sale2
ppt_7_excel["%d年1-%d月累计销量(亿元)"%(year,month)]=ppt_7_excel["%d年1-%d月累计销量(亿元)"%(year,month)].apply(lambda x:format(x,".2f"))
ppt_7_excel["同比增长"]=leiji_game_sale_tongbi_add
ppt_7_excel["同比增长"]=ppt_7_excel["同比增长"].apply(lambda x:format(x,".2%"))
ppt_7_excel["gameName"]=game_name
ppt_7_excel["同比去年累计增长金额(亿元)"]=leiji_game_sale_change
ppt_7_excel["同比去年累计增长金额(亿元)"]=ppt_7_excel["同比去年累计增长金额(亿元)"].apply(lambda x:format(x,".2f"))
# ppt_7_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_7.xlsx"%(month))
ppt_7_excel

D:\biye\python37\lib\site-packages\ipykernel_launcher.py:20: RuntimeWarning: invalid value encountered in longlong_scalars

      游戏 2023年1-5月累计销量(亿元) 2024年1-5月累计销量(亿元)    同比增长 gameName 同比去年累计增长金额(亿元)
0    双色球              8.73              9.13   4.58%      双色球           0.40
1   福彩3D              2.92              3.95  35.39%     福彩3D           1.03
2    七乐彩              0.12              0.12   2.78%      七乐彩           0.00
3    即开票              6.58              8.15  23.83%      即开票           1.57
4    快乐8              1.98              2.82  42.50%      快乐8           0.84
5   15选5              0.12              0.13   9.80%     15选5           0.01
6  东方6+1              0.06              0.06   2.18%    东方6+1           0.00
7     选4              0.38              0.41   7.01%       选4           0.03
8   地方游戏              0.00              0.00    nan%     地方游戏           0.00

In [8]:
ppt=pd.DataFrame()
a_data = data[(data['月份'] == year*100+month) ]
b_data = data[(data['月份'] == year*100+month-1) ]
ppt['2024年本月销量'] = a_data.groupby('地市')['销量'].sum()*1e-4
ppt['2024年上月销量'] = b_data.groupby('地市')['销量'].sum()*1e-4
ppt_8_excel=pd.DataFrame()
ppt_8_excel['2024年5月销量'] = ppt['2024年本月销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_8_excel['2024年4月销量'] = ppt['2024年上月销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_8_excel['环比增幅'] = ( ppt['2024年本月销量']/ ppt['2024年上月销量']-1).apply(lambda x: '{:.2%}'.format(x))
ppt_8_excel['各城市销量增长情况'] = ( ppt['2024年本月销量']- ppt['2024年上月销量'])
# ppt_8_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_8.xlsx"%(month))
ppt_8_excel

   2024年5月销量 2024年4月销量     环比增幅  各城市销量增长情况
地市
中心   3495.39   3574.09   -2.20%   -78.7048
嘉定   3753.20   5165.96  -27.35% -1412.7600
奉贤   2023.73   2586.98  -21.77%  -563.2410
宝山   3522.61   4569.58  -22.91% -1046.9728
崇明    722.45   1009.38  -28.43%  -286.9328
徐汇   1410.94   1842.94  -23.44%  -432.0004
普陀   1769.09   2388.73  -25.94%  -619.6400
杨浦   1774.37   2235.18  -20.62%  -460.8006
松江   4196.05   5430.20  -22.73% -1234.1482
浦东   8939.01  11134.08  -19.71% -2195.0706
渠道     60.00    124.00  -51.61%   -64.0000
虹口   1216.99   1510.98  -19.46%  -293.9844
金山   1354.34   1616.26  -16.21%  -261.9252
长宁   1161.44   2359.60  -50.78% -1198.1590
闵行   4485.96   5877.98  -23.68% -1392.0216
青浦   2097.95   2793.15  -24.89%  -695.2052
静安   2017.04   2590.31  -22.13%  -573.2796
黄浦   1198.69   1439.20  -16.71%  -240.5138

In [9]:
ppt=pd.DataFrame()
a_data = data[(data['月份'] == year*100+month) ]
games = ['双色球', '即开票', '快乐8', '福彩3D', '七乐彩', '地方游戏']
for game in games:
    ppt[f'{game}销量'] = a_data[a_data['游戏'] == game].groupby('地市')['销量'].sum() * 1e-4
ppt_10_excel=pd.DataFrame()
ppt_10_excel['双色球'] = ppt['双色球销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_10_excel['即开票'] = ppt['即开票销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_10_excel['快乐8'] = ppt['快乐8销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_10_excel['福彩3D'] = ppt['福彩3D销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_10_excel['七乐彩'] = ppt['七乐彩销量'].apply(lambda x: '{:.2f}'.format(x))
# ppt_10_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_10.xlsx"%(month))
ppt_10_excel

        双色球      即开票      快乐8     福彩3D     七乐彩
地市
中心  2711.31      nan      nan   486.85  101.06
嘉定  1303.22   939.11   656.54   788.03   12.15
奉贤   787.11   433.59   330.19   429.70    5.05
宝山  1401.29   788.80   563.24   640.01   15.06
崇明   260.12   147.33    72.84   200.92    3.68
徐汇   706.81   293.56   133.26   209.59    8.76
普陀   835.23   330.12   180.35   343.87   10.06
杨浦   685.53   383.28   303.39   327.89    8.26
松江  1459.92   868.22   856.97   941.93   13.29
浦东  3368.85  2152.16  1554.09  1617.98   30.63
虹口   532.30   290.96   147.18   185.44    6.47
金山   577.20   237.87   169.14   325.32    5.17
长宁   502.85   305.06   105.14   207.50    5.55
闵行  1734.38   999.78   561.02  1055.33   16.25
青浦   735.01   516.75   293.18   520.49    4.72
静安   815.41   453.05   282.07   376.88   12.98
黄浦   494.11   311.56   130.91   211.35    5.17

In [10]:
import pandas as pd
data1=pd.read_excel(r"E:\彩票数据\山西\山西月报\2024年5月报\月份-地市-游戏-票单价.xlsx",sheet_name=0)
data1

          日期  地市     游戏        票价区间       销量      月份
0      45108  中心    双色球        02$2  2545318  202307
1      45108  中心    双色球      04$4-8  3848746  202307
2      45108  中心    双色球       05$10  5036060  202307
3      45108  中心    双色球    06$12-18  1763890  202307
4      45108  中心    双色球       07$20  2034020  202307
...      ...  ..    ...         ...      ...     ...
13181  45413  黄浦  东方6+1    08$22-48     4712  202405
13182  45413  黄浦  东方6+1    09$50-98     1196  202405
13183  45413  黄浦  东方6+1  10$100-198     1478  202405
13184  45413  黄浦  东方6+1  11$200-998     1314  202405
13185  45413  黄浦  东方6+1   12$1000以上     1296  202405

[13186 rows x 6 columns]

In [11]:
ppt=pd.DataFrame()
b_data = data1[(data1['月份'] == year*100+month) ]
ppt['双色球销量'] = b_data[(b_data['游戏'] == '双色球') ].groupby('票价区间')['销量'].sum()*1e-4
ppt['快乐8销量'] = b_data[(b_data['游戏'] == '快乐8') ].groupby('票价区间')['销量'].sum()*1e-4
ppt['福彩3D销量'] = b_data[(b_data['游戏'] == '福彩3D') ].groupby('票价区间')['销量'].sum()*1e-4
ppt['七乐彩销量'] = b_data[(b_data['游戏'] == '七乐彩') ].groupby('票价区间')['销量'].sum()*1e-4
ppt_15_excel=pd.DataFrame()
ppt_15_excel['双色球'] = ppt['双色球销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_15_excel['快乐8'] = ppt['快乐8销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_15_excel['福彩3D'] = ppt['福彩3D销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_15_excel['七乐彩'] = ppt['七乐彩销量'].apply(lambda x: '{:.2f}'.format(x))
# ppt_15_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_15.xlsx"%(month))
ppt_15_excel

                双色球      快乐8     福彩3D    七乐彩
票价区间
02$2         416.44    65.95    66.05  24.93
04$4-8      1621.37   309.22   538.33  40.88
05$10       4654.58   490.93   989.23  78.79
06$12-18    1132.82   279.41   394.09  39.75
07$20       1869.75   452.36   781.76   6.61
08$22-48    2260.55   739.62  1186.84   7.75
09$50-98    2075.69   590.93  1177.96  28.60
10$100-198  2191.38  2404.41  1196.20   4.04
11$200-998  1994.56   682.22  1985.33  24.40
12$1000以上    693.52   324.45   553.31   8.58

In [12]:
import pandas as pd
data2=pd.read_excel(r"E:\彩票数据\山西\山西月报\2024年5月报\日期-小时-地市-游戏.xlsx",sheet_name=0)
data2

         日期   小时  地市     游戏      销量      月份
0     45413  00时  中心    双色球  163900  202405
1     45413  00时  中心    七乐彩    7750  202405
2     45413  00时  中心   福彩3D   49130  202405
3     45413  00时  中心     选4    6964  202405
4     45413  00时  中心   15选5    2350  202405
...     ...  ...  ..    ...     ...     ...
2362  45413  23时  黄浦    双色球     952  202405
2363  45413  23时  黄浦    七乐彩       6  202405
2364  45413  23时  黄浦   福彩3D      64  202405
2365  45413  23时  黄浦    快乐8     826  202405
2366  45413  23时  黄浦  东方6+1      48  202405

[2367 rows x 6 columns]

In [13]:
ppt=pd.DataFrame()
c_data = data2[(data2['月份'] == year*100+month) ]
ppt['双色球销量'] = c_data[(c_data['游戏'] == '双色球') ].groupby('小时')['销量'].sum()*1e-4
ppt['快乐8销量'] = c_data[(c_data['游戏'] == '快乐8') ].groupby('小时')['销量'].sum()*1e-4
ppt['福彩3D销量'] = c_data[(c_data['游戏'] == '福彩3D') ].groupby('小时')['销量'].sum()*1e-4
ppt['七乐彩销量'] = c_data[(c_data['游戏'] == '七乐彩') ].groupby('小时')['销量'].sum()*1e-4
ppt_17_excel=pd.DataFrame()
ppt_17_excel['双色球'] = ppt['双色球销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_17_excel['快乐8'] = ppt['快乐8销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_17_excel['福彩3D'] = ppt['福彩3D销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_17_excel['七乐彩'] = ppt['七乐彩销量'].apply(lambda x: '{:.2f}'.format(x))
# ppt_17_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_17.xlsx"%(month))
ppt_17_excel

         双色球      快乐8     福彩3D    七乐彩
小时
00时    19.26     1.45     6.35   0.81
01时    18.50     0.48     5.44   0.92
02时    10.37     0.05     2.68   0.50
03时     0.09     0.14     0.39   0.00
04时     0.18     0.06     0.22    nan
05时     2.04     0.40     0.47   0.02
06时    15.25     4.42     5.28   0.30
07时    80.84    25.55    31.58   1.09
08时   587.66    89.70   117.06  23.67
09时   867.98   188.16   223.17  15.32
10时  1112.08   278.06   278.85  14.48
11时  1076.05   300.88   244.13  13.37
12时  1004.56   270.31   263.47  13.29
13时   951.94   292.08   280.88  13.75
14时  1091.90   321.77   341.37  15.69
15时  1344.57   376.81   394.63  18.55
16时  1613.69   462.95   521.46  20.07
17时  1996.99   579.01   645.64  24.94
18时  2570.79   707.54  1298.36  31.52
19时  3826.52   963.17  2511.87  44.82
20时   354.70  1426.05  1595.44   2.74
21时   145.51    14.31    51.50   2.06
22时   148.48    30.19    37.00   4.28
23时    70.69     5.96    11.86   2.15

In [14]:
months_near12=get_13_months(year,month)[1:]
game_name=["双色球","福彩3D","七乐彩","即开票","快乐8","15选5","东方6+1","选4","地方游戏"]
game_sales={i:[] for i in months_near12}
for i in game_name:
    for j in months_near12:
        a=data.loc[data["月份"]==j].loc[data["gamename"]==i]["销量"].sum()
        game_sales[j].append(a*1e-4)
def get_weici(list_data,num):
    weici=1
    for i in list_data:
        if i>num:
            weici+=1
    return weici
weici=[get_weici([j[i] for j in list(game_sales.values())],[j[i] for j in list(game_sales.values())][-1]) for i in range(len(game_name))]
ppt_19_excel=pd.DataFrame()
ppt_19_excel[""]=game_name
for i in months_near12:
    ppt_19_excel[i]=game_sales[i]
    ppt_19_excel[i]=ppt_19_excel[i].apply(lambda x:format(x,".2f"))
ppt_19_excel["本月在近12月销量排名"]=weici
# ppt_19_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_19.xlsx"%(month))
ppt_19_excel

,,202307,202308,202309,202310,202311,202312,202401,202402,202403,202404,202405,本月在近12月销量排名
0,双色球,18232.82,19037.92,18049.62,17310.84,22277.27,23195.01,20895.05,12051.04,20269.69,19132.48,18910.65,7
1,福彩3D,5816.59,7370.72,6338.19,5547.00,6114.93,7097.97,7391.74,3747.59,7201.73,12293.56,8869.09,2
2,七乐彩,266.53,241.91,242.08,229.15,253.85,274.17,270.61,174.15,264.91,265.96,264.33,6
3,即开票,14197.80,25220.55,22244.89,7908.06,14690.27,16278.06,19004.17,11728.68,21863.36,19361.03,9511.20,10
4,快乐8,5749.77,5520.68,5516.92,5088.49,5701.64,6058.17,6262.49,3315.89,6292.99,5948.67,6339.51,1
5,15选5,295.21,255.59,413.25,311.87,279.10,292.80,292.90,173.55,282.34,263.70,284.36,6
6,东方6+1,127.74,124.18,123.81,109.78,125.04,131.22,135.15,84.36,137.93,134.31,135.53,2
7,选4,842.35,883.79,874.23,748.64,830.94,888.45,904.64,548.14,929.66,848.89,884.58,4
8,地方游戏,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1

In [15]:
from datetime import datetime
ppt = pd.DataFrame()
a_data = data[(data['月份'] >= year*100-100+month+2) & (data['月份'] <= year*100+month)]
ppt['双色球'] = a_data[a_data['游戏'] == '双色球'].groupby('月份')['销量'].sum()
ppt['即开票'] = a_data[a_data['游戏'] == '即开票'].groupby('月份')['销量'].sum()
ppt['快乐8'] = a_data[a_data['游戏'] == '快乐8'].groupby('月份')['销量'].sum()
ppt['3D'] = a_data[a_data['游戏'] == '福彩3D'].groupby('月份')['销量'].sum()
ppt['总销量'] = a_data.groupby('月份')['销量'].sum()
ppt_20_excel = pd.DataFrame()
ppt_20_excel['快乐8市场份额'] = (ppt['快乐8'] / ppt['总销量']).apply(lambda x: '{:.1%}'.format(x))
ppt_20_excel['即开票市场份额'] = (ppt['即开票'] / ppt['总销量']).apply(lambda x: '{:.1%}'.format(x))
ppt_20_excel['3D市场份额'] = (ppt['3D'] / ppt['总销量']).apply(lambda x: '{:.1%}'.format(x))
ppt_20_excel['双色球市场份额'] = (ppt['双色球'] / ppt['总销量']).apply(lambda x: '{:.1%}'.format(x))
# ppt_20_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_20.xlsx"%(month))
ppt_20_excel

       快乐8市场份额 即开票市场份额 3D市场份额 双色球市场份额
月份
202307   12.6%   31.2%  12.8%   40.0%
202308    9.4%   43.0%  12.6%   32.5%
202309   10.3%   41.3%  11.8%   33.5%
202310   13.7%   21.2%  14.9%   46.5%
202311   11.3%   29.2%  12.2%   44.3%
202312   11.2%   30.0%  13.1%   42.8%
202401   11.4%   34.5%  13.4%   37.9%
202402   10.4%   36.9%  11.8%   37.9%
202403   11.0%   38.2%  12.6%   35.4%
202404   10.2%   33.2%  21.1%   32.8%
202405   14.0%   21.0%  19.6%   41.8%

In [16]:
data1 = data1[(data1['游戏'] == "双色球") ]

months_near12=get_13_months(year,month)[1:]
# game_name=["2","4-8","10","12-18","20","22-48","50-98","100-198","200-998","1000以上"]
game_name=["02$2","04$4-8","05$10","06$12-18","07$20","08$22-48","09$50-98","10$100-198","11$200-998","12$1000以上"]
game_sales={i:[] for i in months_near12}
for i in game_name:
    for j in months_near12:
        a=data1.loc[data1["月份"]==j].loc[data1["票价区间"]==i]["销量"].sum()
        game_sales[j].append(a*1e-4)
def get_weici(list_data,num):
    weici=1
    for i in list_data:
        if i>num:
            weici+=1
    return weici
weici=[get_weici([j[i] for j in list(game_sales.values())],[j[i] for j in list(game_sales.values())][-1]) for i in range(len(game_name))]
ppt_21_excel=pd.DataFrame()
ppt_21_excel[""]=game_name
for i in months_near12:
    ppt_21_excel[i]=game_sales[i]
    ppt_21_excel[i]=ppt_21_excel[i].apply(lambda x:format(x,".2f"))
ppt_21_excel["本月在近12月销量排名"]=weici
# ppt_21_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_21.xlsx"%(month))
ppt_21_excel

,,202307,202308,202309,202310,202311,202312,202401,202402,202403,202404,202405,本月在近12月销量排名
0,02$2,392.95,406.52,393.95,357.91,412.31,396.56,397.35,233.74,419.07,408.94,416.44,2
1,04$4-8,1547.03,1615.40,1527.55,1467.07,1526.40,1759.53,2233.23,878.49,1649.72,1612.84,1621.37,4
2,05$10,4552.14,4732.31,4502.96,4342.13,4170.62,4064.31,4328.03,2589.42,4817.45,4681.85,4654.58,4
3,06$12-18,1100.44,1163.12,1085.85,1049.99,893.45,833.36,971.01,652.15,1157.39,1133.30,1132.82,4
4,07$20,1827.58,1882.96,1779.57,1704.06,3804.88,3622.78,1768.45,1170.26,1989.07,1894.05,1869.75,6
5,08$22-48,2005.27,2089.23,1973.32,1890.23,2883.64,3572.46,4155.45,1513.72,2420.81,2287.99,2260.55,6
6,09$50-98,2028.83,2124.88,1987.73,1904.19,2384.66,2464.32,2185.74,1374.92,2215.42,2077.28,2075.69,7
7,10$100-198,2174.64,2271.11,2104.94,2034.05,2583.28,2646.56,2068.83,1520.25,2424.28,2228.70,2191.38,6
8,11$200-998,1968.35,2032.55,1901.00,1882.53,2558.34,2654.52,1963.86,1478.87,2292.42,2073.00,1994.56,6
9,12$1000以上,635.58,719.83,792.77,678.67,1059.69,1180.61,823.11,639.23,884.06,734.54,693.52,8

In [17]:
import pandas as pd
data3=pd.read_excel(r"E:\彩票数据\山西\山西月报\2024年5月报\月份-地市-游戏-倍投.xlsx",sheet_name=0)
data3

         日期  地市     游戏          倍投        销量      月份
0     45108  中心    双色球       01$单倍  14067700  202307
1     45108  中心    双色球       02$两倍   2741752  202307
2     45108  中心    双色球     03$3到5倍   3879084  202307
3     45108  中心    双色球    04$6到10倍   1677026  202307
4     45108  中心    双色球   05$11到20倍    809388  202307
...     ...  ..    ...         ...       ...     ...
7692  45413  黄浦  东方6+1       02$两倍      1830  202405
7693  45413  黄浦  东方6+1     03$3到5倍      3872  202405
7694  45413  黄浦  东方6+1    04$6到10倍      2654  202405
7695  45413  黄浦  东方6+1   05$11到20倍       866  202405
7696  45413  黄浦  东方6+1  06$21到100倍       792  202405

[7697 rows x 6 columns]

In [18]:
data3 = data3[(data3['游戏'] == "双色球") ]
months_near12=get_13_months(year,month)[1:]
game_name=["01$单倍","02$两倍","03$3到5倍","04$6到10倍","05$11到20倍","06$21到100倍"]
game_sales={i:[] for i in months_near12}
for i in game_name:
    for j in months_near12:
        a=data3.loc[data3["月份"]==j].loc[data3["倍投"]==i]["销量"].sum()
        game_sales[j].append(a*1e-4)
def get_weici(list_data,num):
    weici=1
    for i in list_data:
        if i>num:
            weici+=1
    return weici
weici=[get_weici([j[i] for j in list(game_sales.values())],[j[i] for j in list(game_sales.values())][-1]) for i in range(len(game_name))]
ppt_24_excel=pd.DataFrame()
ppt_24_excel[""]=game_name
for i in months_near12:
    ppt_24_excel[i]=game_sales[i]
    ppt_24_excel[i]=ppt_24_excel[i].apply(lambda x:format(x,".2f"))
ppt_24_excel["本月在近12月销量排名"]=weici
# ppt_24_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_20.xlsx"%(month))
ppt_24_excel

,,202307,202308,202309,202310,202311,202312,202401,202402,202403,202404,202405,本月在近12月销量排名
0,01$单倍,10203.50,10708.39,10066.15,9644.82,11730.25,12356.92,12096.80,6604.00,11356.56,10807.39,10555.62,7
1,02$两倍,1784.57,1848.43,1752.69,1677.86,3371.59,3292.28,1916.92,1149.08,1988.82,1908.60,1877.56,6
2,03$3到5倍,2727.30,2839.83,2691.66,2575.25,3050.10,3276.11,3274.71,1764.01,2966.58,2826.63,2829.23,6
3,04$6到10倍,1348.23,1424.41,1393.39,1285.92,1719.04,1745.13,1340.02,910.76,1482.75,1386.53,1406.28,5
4,05$11到20倍,442.43,444.69,440.56,422.16,496.78,609.53,767.96,307.67,478.03,445.61,458.30,5
5,06$21到100倍,1726.79,1772.17,1705.18,1704.83,1909.52,1915.03,1498.64,1315.53,1996.95,1757.72,1783.67,4

In [19]:
import pandas as pd
# data1=pd.read_excel(r"E:\彩票数据\山西\山西月报\2024年5月报\月份-地市-游戏-票单价.xlsx",sheet_name=0)
ppt=pd.DataFrame()
a_data = data1[(data1['月份'] == year*100+month) ]
games = ["02$2", "04$4-8", "05$10", "06$12-18", "07$20", "08$22-48", "09$50-98", "10$100-198", "11$200-998", "12$1000以上"]
ppt_28_excel = pd.DataFrame()
for game in games:
    ppt_28_excel[game] = a_data[a_data['票价区间'] == game].groupby('地市')['销量'].sum() * 1e-4
    ppt_28_excel[game] = ppt_28_excel[game].apply(lambda x: '{:.2f}'.format(x))
# ppt_28_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_28.xlsx" % (month))
ppt_28_excel

,02$2,04$4-8,05$10,06$12-18,07$20,08$22-48,09$50-98,10$100-198,11$200-998,12$1000以上
地市,,,,,,,,,,
中心,267.82,418.37,536.95,196.36,222.09,345.18,261.51,284.61,178.43,nan
嘉定,12.20,102.63,323.35,77.93,120.96,144.09,138.28,147.07,149.03,87.68
奉贤,8.13,67.62,207.19,48.33,73.52,87.40,85.31,80.56,89.88,39.17
宝山,13.54,110.90,371.15,83.75,146.45,165.76,153.63,156.38,142.55,57.17
崇明,3.59,25.84,79.08,17.97,26.24,29.09,26.55,26.38,21.48,3.90
徐汇,5.91,47.00,174.48,37.03,78.02,89.06,86.65,93.98,77.90,16.78
普陀,6.82,57.88,210.31,48.04,90.89,98.55,100.13,96.45,86.02,40.14
杨浦,6.35,52.34,185.77,40.96,78.53,86.22,81.69,79.62,61.94,12.11
松江,13.36,107.99,356.07,85.26,137.77,178.22,160.77,176.83,177.49,66.15
浦东,31.43,253.43,874.22,190.70,348.57,397.44,376.78,404.05,363.32,128.92
虹口,4.34,35.63,132.94,30.31,58.08,66.73,61.48,55.89,70.43,16.47
金山,5.87,44.14,149.32,37.26,52.37,58.68,54.93,60.88,57.75,56.01
长宁,4.27,29.26,110.92,24.90,50.13,62.83,54.48,62.04,58.25,45.77
闵行,14.81,123.83,436.99,96.03,178.93,202.33,197.76,213.69,216.12,53.90
青浦,7.48,60.70,197.85,45.65,71.28,81.97,80.51,87.13,84.69,17.75
静安,6.70,54.36,195.68,47.45,87.98,105.87,97.85,101.40,94.00,24.13
黄浦,3.82,29.46,112.33,24.89,47.96,61.10,57.37,64.42,65.29,27.47

In [20]:
# import pandas as pd
# data2=pd.read_excel(r"E:\彩票数据\山西\山西月报\2024年5月报\日期-小时-地市-游戏.xlsx",sheet_name=0)
# data2
import pandas as pd
# data2=pd.read_excel(r"E:\彩票数据\山西\山西月报\2024年5月报\月份-地市-游戏-票单价.xlsx",sheet_name=0)
a_data = data2[(data2['月份'] == year*100+month) ]
games = ["00时", "01时", "02时", "03时", "04时", "05时","06时", "07时", "08时", "09时", "10时", "11时","12时", "13时", "14时", "15时", "16时", "17时","18时", "19时", "20时", "21时", "22时", "23时" ,"24时"]
ppt_30_excel = pd.DataFrame()
for game in games:
    ppt_30_excel[game] = a_data[a_data['小时'] == game].groupby('地市')['销量'].sum() * 1e-4
    ppt_30_excel[game] = ppt_30_excel[game].apply(lambda x: '{:.2f}'.format(x))
# ppt_28_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_28.xlsx" % (month))
ppt_30_excel

,00时,01时,02时,03时,04时,05时,06时,07时,08时,09时,...,15时,16时,17时,18时,19时,20时,21时,22时,23时,24时
地市,,,,,,,,,,,,,,,,,,,,,
中心,23.51,24.36,13.38,0.01,nan,nan,nan,nan,318.63,292.71,...,166.24,194.89,236.74,348.40,495.82,76.55,55.80,137.05,72.36,nan
嘉定,939.76,0.66,0.02,0.01,nan,0.14,3.23,14.69,36.82,80.41,...,172.95,218.84,273.44,396.99,637.96,367.89,16.32,10.84,2.43,nan
奉贤,433.62,0.00,0.00,0.01,0.05,0.15,0.67,5.90,22.22,43.84,...,87.41,116.27,161.54,242.77,369.09,204.29,5.51,4.83,0.42,nan
宝山,789.21,0.07,0.05,0.01,nan,0.04,1.53,13.50,50.19,96.14,...,175.01,223.96,269.77,388.31,608.31,251.35,11.37,7.68,2.48,nan
崇明,147.44,0.04,0.03,nan,nan,0.20,1.67,8.54,15.76,20.74,...,35.57,47.91,62.52,81.90,126.62,54.31,2.68,0.76,0.35,nan
徐汇,293.79,0.28,0.09,0.01,nan,0.00,0.86,4.74,28.38,47.67,...,85.65,94.86,111.31,142.84,215.76,72.61,4.75,2.77,0.53,nan
普陀,330.17,0.00,0.01,nan,nan,0.02,0.90,8.10,29.98,59.21,...,99.40,121.37,142.64,195.40,309.27,95.31,6.80,4.87,0.88,nan
杨浦,383.41,0.00,0.03,0.00,0.00,0.08,0.55,6.01,21.51,46.49,...,94.89,101.80,132.41,181.34,275.58,118.29,5.45,2.97,0.45,nan
松江,868.43,0.36,0.10,0.05,nan,1.28,2.87,9.54,47.24,91.14,...,192.96,229.83,315.27,451.51,759.33,498.33,20.39,10.79,1.25,nan
浦东,2153.35,0.17,0.30,0.54,0.27,0.88,8.16,39.02,131.75,235.81,...,427.88,524.90,649.43,937.83,1468.66,736.90,36.92,20.01,5.91,nan
渠道,60.00,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
虹口,291.03,0.01,0.00,0.00,0.00,0.07,0.72,5.09,17.00,39.42,...,71.74,80.34,93.58,125.46,187.61,61.25,4.24,3.45,0.94,nan
金山,237.87,0.00,nan,nan,nan,0.05,0.63,7.53,28.22,52.03,...,65.89,99.31,113.21,170.74,246.10,81.93,1.70,0.28,0.04,nan
长宁,305.15,0.10,0.01,nan,nan,0.00,0.18,3.33,18.32,41.18,...,55.47,87.84,83.86,97.74,144.93,60.60,3.96,2.87,1.32,nan
闵行,1000.49,0.56,0.37,0.02,0.01,0.12,2.62,14.21,58.35,101.12,...,221.94,271.11,332.33,464.83,788.89,407.31,19.08,9.18,2.63,nan
青浦,518.06,0.28,0.02,nan,0.13,0.02,0.55,4.09,16.83,39.67,...,90.27,113.95,153.30,234.88,382.36,197.20,14.54,3.30,1.86,nan
静安,453.86,0.26,0.01,0.01,nan,0.12,1.08,4.16,20.74,61.37,...,123.06,132.38,160.24,210.06,300.52,130.03,8.23,7.57,1.01,nan
黄浦,311.57,nan,nan,nan,nan,0.00,1.24,2.87,8.58,20.01,...,65.73,74.05,94.32,112.89,180.33,68.41,3.96,1.08,0.19,nan

In [21]:
months_near12=get_13_months(year,month)[1:]
# game_name=["太原市","大同市","朔州市","忻州市","吕梁市","晋中市","长治市","临汾市","晋城市","运城市","阳泉市"]
game_name=["中心","嘉定","奉贤","宝山","崇明","徐汇","普陀","杨浦","松江","浦东","虹口","金山","长宁","闵行","青浦","静安","黄浦"]
game_sales={i:[] for i in months_near12}
for i in game_name:
    for j in months_near12:
        a=data.loc[data["月份"]==j].loc[data["地市"]==i]["销量"].sum()
        game_sales[j].append(a*1e-4)
def get_weici(list_data,num):
    weici=1
    for i in list_data:
        if i>num:
            weici+=1
    return weici
# [j[i] for j in list(game_sales.values())]
weici=[get_weici([j[i] for j in list(game_sales.values())],[j[i] for j in list(game_sales.values())][-1]) for i in range(len(game_name))]
ppt_31_excel=pd.DataFrame()
ppt_31_excel[""]=game_name
for i in months_near12:
    ppt_31_excel[i]=game_sales[i]
    ppt_31_excel[i]=ppt_31_excel[i].apply(lambda x:format(x,".2f"))
ppt_31_excel["本月在近12月销量排名"]=weici
# ppt_31_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_31.xlsx"%(month))
ppt_31_excel

,,202307,202308,202309,202310,202311,202312,202401,202402,202403,202404,202405,本月在近12月销量排名
0,中心,3295.58,3285.33,3139.84,2849.23,3721.75,3803.09,3373.01,2190.54,3587.58,3574.09,3495.39,5
1,嘉定,3649.54,4993.06,4597.18,2886.26,4246.26,4515.92,4867.44,2546.58,4627.78,5165.96,3753.20,8
2,奉贤,2180.18,2820.85,2611.77,1741.96,2312.20,2443.79,2608.53,1453.30,2654.27,2586.98,2023.73,9
3,宝山,3498.40,4572.99,4110.09,2852.34,3944.42,4307.44,4463.14,2640.39,4643.00,4569.58,3522.61,8
4,崇明,697.06,884.58,786.41,556.31,711.51,845.17,877.23,533.93,892.21,1009.38,722.45,7
5,徐汇,1484.63,1822.97,1749.07,1236.87,1589.52,1731.83,1800.72,1113.75,1872.82,1842.94,1410.94,9
6,普陀,1669.18,2008.48,1933.62,1485.93,1922.52,2102.58,2138.08,1285.50,2169.13,2388.73,1769.09,8
7,杨浦,1514.65,1919.68,1786.98,1297.31,1752.95,1855.53,1937.44,1152.49,2046.28,2235.18,1774.37,7
8,松江,4122.06,5601.05,5056.84,3604.61,4752.35,5138.89,5312.39,2770.11,5451.06,5430.20,4196.05,8
9,浦东,9549.70,11761.26,10734.94,7163.17,9659.41,10760.99,10996.06,6372.85,12043.46,11134.08,8939.01,9
10,虹口,1139.05,1394.03,1377.57,979.89,1296.81,1410.35,1456.09,910.81,1479.30,1510.98,1216.99,8
11,金山,1190.76,1518.10,1412.74,1024.33,1362.93,1552.47,1602.77,878.53,1616.97,1616.26,1354.34,8
12,长宁,1206.29,1600.70,1450.43,981.61,1327.78,1510.92,1420.58,927.83,1467.94,2359.60,1161.44,9
13,闵行,4379.23,6136.75,5489.62,3650.48,4937.08,5498.83,5456.33,2962.71,5671.38,5877.98,4485.96,8
14,青浦,2179.36,3156.83,2713.15,1821.70,2395.39,2506.83,2719.65,1487.39,2713.33,2793.15,2097.95,9
15,静安,2020.03,2680.18,2475.72,1660.32,2220.69,2530.73,2477.68,1538.35,2644.09,2590.31,2017.04,9
16,黄浦,1117.86,1421.24,1348.84,974.76,1304.72,1417.54,1488.61,855.35,1462.06,1439.20,1198.69,8

In [22]:
import pandas as pd
# data3=pd.read_excel(r"E:\彩票数据\山西\山西月报\2024年5月报\月份-地市-游戏-倍投.xlsx",sheet_name=0)
ppt=pd.DataFrame()
a_data = data3[(data3['月份'] == year*100+month) ]
games = ["01$单倍","02$两倍","03$3到5倍","04$6到10倍","05$11到20倍","06$21到100倍"]
ppt_46_excel = pd.DataFrame()
for game in games:
    ppt_46_excel[game] = a_data[a_data['倍投'] == game].groupby('地市')['销量'].sum() * 1e-4
    ppt_46_excel[game] = ppt_46_excel[game].apply(lambda x: '{:.2f}'.format(x))
# ppt_46_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_46.xlsx" % (month))
ppt_46_excel

      01$单倍   02$两倍 03$3到5倍 04$6到10倍 05$11到20倍 06$21到100倍
地市
中心  1506.24  297.04  410.27   182.43     85.08     230.24
嘉定   773.92  126.96  180.36    88.84     25.41     107.72
奉贤   485.60   77.15  105.24    50.58     13.96      54.58
宝山   792.26  140.36  215.08   102.47     32.90     118.22
崇明   155.17   27.96   37.06    16.46      5.28      18.19
徐汇   347.70   67.43  112.76    72.18     21.15      85.58
普陀   445.60   84.03  136.21    67.35     18.73      83.30
杨浦   365.20   68.10  114.75    56.71     15.66      65.11
松江   864.16  136.89  203.76   101.25     35.15     118.72
浦东  1876.82  339.05  499.37   249.59     82.62     321.40
虹口   275.27   50.47   86.04    41.54     10.99      68.00
金山   352.84   56.05   79.08    40.25     10.26      38.71
长宁   254.99   44.52   76.27    39.35     13.65      74.07
闵行   949.71  167.29  260.32   133.60     39.86     183.60
青浦   433.15   72.29  104.75    49.42     13.73      61.67
静安   429.06   79.31  129.49    69.32     19.25      88.97
黄浦   247.93   42.65   78.40    44.94     14.62      65.58

In [23]:
import pandas as pd
data3=pd.read_excel(r"E:\彩票数据\山西\山西月报\2024年5月报\月份-地市-游戏-倍投.xlsx",sheet_name=0)
ppt=pd.DataFrame()
a_data = data3[(data3['月份'] == year*100+month) ]
games = ["01$单倍","02$两倍","03$3到5倍","04$6到10倍","05$11到20倍","06$21到100倍"]
ppt_47_excel = pd.DataFrame()
for game in games:
    ppt_47_excel[game] = a_data[a_data['倍投'] == game].groupby('游戏')['销量'].sum() * 1e-4
    ppt_47_excel[game] = ppt_47_excel[game].apply(lambda x: '{:.2f}'.format(x))
# ppt_47_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_47.xlsx" % (month))
ppt_47_excel

          01$单倍    02$两倍  03$3到5倍 04$6到10倍 05$11到20倍 06$21到100倍
游戏
15选5     172.54    25.84    41.83    17.56      8.55      18.04
七乐彩      230.74    12.66    14.87     3.29      0.89       1.88
东方6+1     80.15    12.56    18.79    10.33      5.53       8.17
即开票     9511.20      nan      nan      nan       nan        nan
双色球    10555.62  1877.56  2829.23  1406.28    458.30    1783.67
快乐8     3449.19   303.32   691.13  1065.57    830.29        nan
福彩3D    1669.10   671.25  1902.67  1352.61    684.25    2589.23
选4       434.09    97.01   184.02    85.79     35.44      48.22

In [24]:
import pandas as pd
data4 = pd.read_excel(r"E:\彩票数据\山西\山西月报\2024年5月报\月份-地市-游戏-选号方式-投注方式-游戏玩法.xlsx", sheet_name=0)
data4

         日期     地市        游戏 选号方式 投注方式          游戏玩法        销量      月份
0     45413  31$中心    01$双色球   手选   单式     01$双色球-单式  17871714  202405
1     45413  31$中心    01$双色球   手选   复式   02$双色球-红复式7   1067346  202405
2     45413  31$中心    01$双色球   手选   复式   03$双色球-红复式8    838096  202405
3     45413  31$中心    01$双色球   手选   复式   04$双色球-红复式9    603288  202405
4     45413  31$中心    01$双色球   手选   复式  05$双色球-红复式10    375480  202405
...     ...    ...       ...  ...  ...           ...       ...     ...
8888  45444  31$黄浦  25$东方6+1   手选   单式   01$东方6+1-单式      3134  202406
8889  45444  31$黄浦  25$东方6+1   手选   复式   02$东方6+1-复式      8182  202406
8890  45444  31$黄浦  25$东方6+1   机选   单式   01$东方6+1-单式      4672  202406
8891  45444  31$黄浦  25$东方6+1   自动   单式   01$东方6+1-单式     14316  202406
8892  45444  31$黄浦  25$东方6+1   自动   复式   02$东方6+1-复式      1112  202406

[8893 rows x 8 columns]

In [25]:
ppt=pd.DataFrame()
a_data = data4[(data4['月份'] == 202406) ]
b_data = data4[(data4['月份'] == 202405) ]
ppt['2024年本月销量'] = a_data.groupby('投注方式')['销量'].sum()*1e-4
ppt['2024年上月销量'] = b_data.groupby('投注方式')['销量'].sum()*1e-4
ppt_49_excel=pd.DataFrame()
ppt_49_excel['2024年6月销量'] = ppt['2024年本月销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_49_excel['2024年5月销量'] = ppt['2024年上月销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_49_excel['环比增幅'] = ( ppt['2024年本月销量']/ ppt['2024年上月销量']-1).apply(lambda x: '{:.2%}'.format(x))
ppt_49_excel['各城市销量增长情况'] = ( ppt['2024年本月销量']- ppt['2024年上月销量'])
# ppt_49_excel.to_excel(r"E:\彩票数据\山西\山西月报\2024年%d月报\ppt_49.xlsx"%(month))
ppt_49_excel

     2024年6月销量 2024年5月销量     环比增幅  各城市销量增长情况
投注方式
包选       53.31      7.07  654.45%    46.2462
单式    21558.68  22829.73   -5.57% -1271.0548
即开    18298.60   9511.20   92.39%  8787.4000
复式     9855.38  10582.59   -6.87%  -727.2106
胆拖     4088.45   2268.66   80.21%  1819.7872