In [1]:
#27
year = int(input("请输入年份："))
week = int(input("请输入周："))

In [2]:
import numpy
import pandas as pd
data=pd.read_excel("E:\彩票数据\山西\山西周报\票单价.xlsx",sheet_name=0)
# data.head(50)
data

               周数   星期  地市     游戏      票价区间      销量
0       2024年第01周  星期一  中心    双色球      02$2  128032
1       2024年第01周  星期一  中心    双色球    04$4-8  146004
2       2024年第01周  星期一  中心    双色球     05$10  156390
3       2024年第01周  星期一  中心    双色球  06$12-18   47392
4       2024年第01周  星期一  中心    双色球     07$20   79280
...           ...  ...  ..    ...       ...     ...
186656  2024年第27周  星期日  黄浦  东方6+1      02$2      28
186657  2024年第27周  星期日  黄浦  东方6+1    04$4-8     174
186658  2024年第27周  星期日  黄浦  东方6+1     05$10     200
186659  2024年第27周  星期日  黄浦  东方6+1  06$12-18      24
186660  2024年第27周  星期日  黄浦  东方6+1  08$22-48      30

[186661 rows x 6 columns]

In [3]:
ppt=pd.DataFrame()
a_data = data[(data['周数'] == "2024年第27周") ]
ppt['2024年第27周销量'] = a_data.groupby('游戏')['销量'].sum()*1e-4
ppt_3_excel=pd.DataFrame()
ppt_3_excel['2024年第27周销量'] = ppt['2024年第27周销量'].apply(lambda x: '{:.2f}'.format(x))
# ppt_3_excel.to_excel(r"E:\彩票数据\山西\山西周报\ppt_3.1.xlsx")
ppt_3_excel

      2024年第27周销量
游戏
15选5        63.14
七乐彩         69.55
东方6+1       29.80
即开票       4018.68
双色球       3998.61
快乐8       1519.68
福彩3D      1632.45
选4         180.39

In [4]:
import numpy
import pandas as pd
data3=pd.read_excel("E:\彩票数据\山西\山西周报\期结.xlsx",sheet_name=0)
# data.head(50)
data3

        日期   星期              期数     游戏        销量
0    45474  星期一   15选5第2024173期   15选5     81682
1    45474  星期一    七乐彩第2024075期    七乐彩    137810
2    45474  星期一  东方6+1第2024075期  东方6+1     64284
3    45474  星期一   即开票第20240701期    即开票   2716300
4    45474  星期一    快乐8第2024173期    快乐8   2163746
..     ...  ...             ...    ...       ...
204  45480  星期日   即开票第20240707期    即开票  18864400
205  45480  星期日    双色球第2024077期    双色球   8953980
206  45480  星期日    快乐8第2024179期    快乐8   2048716
207  45480  星期日   福彩3D第2024179期   福彩3D   2218730
208  45480  星期日     选4第2024179期     选4    240256

[209 rows x 5 columns]

In [5]:
ppt=pd.DataFrame()
ppt['本周期销售总额'] = data3.groupby('游戏')['销量'].sum()*1e-4
ppt_3_excel=pd.DataFrame()
ppt_3_excel['本周期销售总额'] = ppt['本周期销售总额'].apply(lambda x: '{:.2f}'.format(x))
# ppt_3_excel.to_excel(r"E:\彩票数据\山西\山西周报\ppt_3.2.xlsx")
ppt_3_excel

       本周期销售总额
游戏
15选5     63.17
七乐彩      70.05
东方6+1    29.67
即开票    4018.68
双色球    3990.44
快乐8    1519.43
福彩3D   1632.27
选4      180.58

In [6]:
data_sale=data[data["周数"]=="2024年第27周"]["销量"]#这里的month-1是用来确定months的索引位置
a=data_sale.sum()
a
data_sale=data[data["周数"]=="2024年第26周"]["销量"]#这里的month-1是用来确定months的索引位置
b=data_sale.sum()
b
ppt_4_excel=pd.DataFrame()
ppt_4_excel['周数'] = ["2024年第26周","2024年第27周"]
ppt_4_excel['周销量'] = [b*1e-4,a*1e-4]
ppt_4_excel["周销量"]=ppt_4_excel["周销量"].apply(lambda x:format(x,".2f"))
# ppt_4_excel.to_excel(r"E:\彩票数据\山西\山西周报\ppt_4.1.xlsx")
ppt_4_excel

          周数       周销量
0  2024年第26周  12305.67
1  2024年第27周  11512.29

In [7]:
import numpy
import pandas as pd
data0=pd.read_excel("E:\彩票数据\山西\山西周报\票单价2023.xlsx",sheet_name=0)
# data.head(50)
data0

               周数   星期  地市     游戏        票价区间      销量
0       2023年第01周  星期日  中心    双色球        02$2   43224
1       2023年第01周  星期日  中心    双色球      04$4-8   99482
2       2023年第01周  星期日  中心    双色球       05$10  185250
3       2023年第01周  星期日  中心    双色球    06$12-18   64636
4       2023年第01周  星期日  中心    双色球       07$20   91140
...           ...  ...  ..    ...         ...     ...
193362  2023年第28周  星期五  黄浦  东方6+1       05$10     140
193363  2023年第28周  星期五  黄浦  东方6+1       07$20     100
193364  2023年第28周  星期五  黄浦  东方6+1    08$22-48      30
193365  2023年第28周  星期五  黄浦  东方6+1    09$50-98     100
193366  2023年第28周  星期五  黄浦  东方6+1  10$100-198     292

[193367 rows x 6 columns]

In [8]:
data_sale = data[data["周数"].str.contains("2024年", na=False)]["销量"]
a=data_sale.sum()
data_sale = data0[data0["周数"].str.contains("2023年", na=False)]["销量"]
b=data_sale.sum()
ppt_4_excel=pd.DataFrame()
ppt_4_excel['日期'] = ["2023年截至第26周","2024年截至第27周"]
ppt_4_excel['年累计销量'] = [b*1e-8,a*1e-8]
ppt_4_excel["年累计销量"]=ppt_4_excel["年累计销量"].apply(lambda x:format(x,".2f"))
# ppt_4_excel.to_excel(r"E:\彩票数据\山西\山西周报\ppt_4.2.xlsx")
ppt_4_excel

            日期  年累计销量
0  2023年截至第26周  27.51
1  2024年截至第27周  31.30

In [9]:
import_game_list=["双色球","福彩3D","七乐彩","即开票","快乐8","15选5","东方6+1","选4"]
game_list=list(data["游戏"])
game_list0=list(data0["游戏"])
new_game_list=[]
# 将福彩游戏进行区分（其他的本地游戏进行统一命名）
for i in game_list:
    if i in import_game_list:
        new_game_list.append(i)
    else:
        #new_game_list.append("地方游戏")
        if i =="快乐8(新)":
            new_game_list.append("快乐8")
        else:
            new_game_list.append("地方游戏")
data["gamename"]=new_game_list
data["gamename"].value_counts()
new_game_list0=[]
# 将福彩游戏进行区分（其他的本地游戏进行统一命名）
for i in game_list0:
    if i in import_game_list:
        new_game_list0.append(i)
    else:
        #new_game_list.append("地方游戏")
        if i =="快乐8(新)":
            new_game_list0.append("快乐8")
        else:
            new_game_list0.append("地方游戏")
data0["gamename"]=new_game_list0
data0["gamename"].value_counts()
game_name=["双色球","福彩3D","七乐彩","即开票","快乐8","15选5","东方6+1","选4","地方游戏"]
sales=[]
huanbis=[]
tongbis=[]
for i in game_name:
    data_sale=data.loc[data["周数"]=="2024年第27周"].loc[data["gamename"]==i]["销量"]
    a=data_sale.sum()
    data_sale=data.loc[data["周数"]=="2024年第26周"].loc[data["gamename"]==i]["销量"]
    b=data_sale.sum()
    data_sale=data0.loc[data0["周数"]=="2023年第27周"].loc[data0["gamename"]==i]["销量"]
    c=data_sale.sum()
    huanbi,tongbi=a/b-1,a/c-1
    sales.append(a)
    huanbis.append(huanbi)
    tongbis.append(tongbi)
    #print("2023年5月总销量:%d\n2023年4月总销量:%d\n2022年5月总销量:%d"%(a,b,c))
    print("%d年游戏  %s  销量:%d"%(year,i,a))
    print("环比上周:%.2f%%\n同比去年本周:%.2f%%\n"%(huanbi*100,tongbi*100))
game_sale1=[]
game_sale2=[]
game_sale_change=[]
game_sale_huanbi_add=[]
for i in game_name:
    a=data.loc[data["周数"]=="2024年第27周"].loc[data["gamename"]==i]["销量"].sum()
    b=data.loc[data["周数"]=="2024年第26周"].loc[data["gamename"]==i]["销量"].sum()
    game_sale1.append(a*1e-4)
    game_sale2.append(b*1e-4)
    game_sale_change.append((b-a)*1e-4)
    game_sale_huanbi_add.append(b/a-1)
ppt_5_excel=pd.DataFrame()
ppt_5_excel["游戏"]=game_name
ppt_5_excel["%d年第%d周销量(亿元)"%(year,week)]=game_sale2
ppt_5_excel["%d年第%d周销量(亿元)"%(year,week)]=ppt_5_excel["%d年第%d周销量(亿元)"%(year,week)].apply(lambda x:format(x,".4f"))
# ppt_5_excel.to_excel(r"E:\彩票数据\山西\山西周报\ppt_5.xlsx")
ppt_5_excel

2024年游戏  双色球  销量:39986110
环比上周:1.41%
同比去年本周:-5.07%

2024年游戏  福彩3D  销量:16324488
环比上周:-7.45%
同比去年本周:14.99%

2024年游戏  七乐彩  销量:695478
环比上周:28.49%
同比去年本周:8.48%

2024年游戏  即开票  销量:40186800
环比上周:-13.04%
同比去年本周:-35.25%

2024年游戏  快乐8  销量:15196788
环比上周:-7.20%
同比去年本周:-1.28%

2024年游戏  15选5  销量:631396
环比上周:-9.60%
同比去年本周:10.36%

2024年游戏  东方6+1  销量:297988
环比上周:-1.24%
同比去年本周:1.75%

2024年游戏  选4  销量:1803880
环比上周:-2.76%
同比去年本周:-6.70%

D:\biye\python37\lib\site-packages\ipykernel_launcher.py:41: RuntimeWarning: invalid value encountered in longlong_scalars

2024年游戏  地方游戏  销量:0
环比上周:nan%
同比去年本周:nan%

D:\biye\python37\lib\site-packages\ipykernel_launcher.py:58: RuntimeWarning: invalid value encountered in longlong_scalars

      游戏 2024年第27周销量(亿元)
0    双色球       3943.1248
1   福彩3D       1763.8826
2    七乐彩         54.1258
3    即开票       4621.4100
4    快乐8       1637.5910
5   15选5         69.8444
6  东方6+1         30.1736
7     选4        185.5164
8   地方游戏          0.0000

In [10]:
ppt=pd.DataFrame()
a_data = data[(data['周数'] == "2024年第27周") ]
b_data = data[(data['周数'] == "2024年第26周") ]
ppt['2024年第本周'] = a_data.groupby('地市')['销量'].sum()*1e-4
ppt['2024年第上周'] = b_data.groupby('地市')['销量'].sum()*1e-4
ppt_6_excel=pd.DataFrame()
ppt_6_excel['2024年第26周销量'] = ppt['2024年第上周'].apply(lambda x: '{:.2f}'.format(x))
ppt_6_excel['2024年第27周销量'] = ppt['2024年第本周'].apply(lambda x: '{:.2f}'.format(x))
ppt_6_excel['环比增幅'] = ( ppt['2024年第本周']/ ppt['2024年第上周']-1).apply(lambda x: '{:.2%}'.format(x))
ppt_6_excel['各城市销量增长情况'] = ( ppt['2024年第本周']- ppt['2024年第上周'])
# ppt_6_excel.to_excel(r"E:\彩票数据\山西\山西周报\ppt_6.xlsx")
ppt_6_excel

   2024年第26周销量 2024年第27周销量     环比增幅  各城市销量增长情况
地市
中心      757.89      745.80   -1.60%   -12.0960
嘉定     1117.14      738.33  -33.91%  -378.8184
奉贤      501.74      475.83   -5.16%   -25.9096
宝山      913.76      873.84   -4.37%   -39.9224
崇明      162.08      159.84   -1.38%    -2.2344
徐汇      367.65      356.01   -3.16%   -11.6344
普陀      461.43      445.14   -3.53%   -16.2926
杨浦      460.37      427.64   -7.11%   -32.7288
松江     1218.90     1166.38   -4.31%   -52.5198
浦东     2632.35     2575.68   -2.15%   -56.6694
虹口      358.77      319.93  -10.83%   -38.8372
金山      348.47      313.07  -10.16%   -35.3946
长宁      329.07      302.26   -8.15%   -26.8092
闵行     1159.98     1243.96    7.24%    83.9844
青浦      561.60      534.00   -4.91%   -27.5968
静安      538.17      526.09   -2.24%   -12.0800
黄浦      356.30      308.48  -13.42%   -47.8166

In [11]:
ppt=pd.DataFrame()
a_data = data[data['周数'].str.contains("2024年")]
b_data = data0[data0['周数'].str.contains("2023年")]
ppt['2024年'] = a_data.groupby('地市')['销量'].sum()*1e-4
ppt['2023年'] = b_data.groupby('地市')['销量'].sum()*1e-4
ppt_8_excel=pd.DataFrame()
ppt_8_excel['2023年累计销量'] = ppt['2023年'].apply(lambda x: '{:.2f}'.format(x))
ppt_8_excel['2024年累计销量'] = ppt['2024年'].apply(lambda x: '{:.2f}'.format(x))
ppt_8_excel['同比增幅'] = ( ppt['2024年']/ ppt['2023年']-1).apply(lambda x: '{:.2%}'.format(x))
ppt_8_excel['各城市销量增长情况'] = ( ppt['2024年']- ppt['2023年'])
# ppt_8_excel.to_excel(r"E:\彩票数据\山西\山西周报\ppt_8.xlsx")
ppt_8_excel

   2023年累计销量 2024年累计销量     同比增幅  各城市销量增长情况
地市
中心  24894.15  20228.10  -18.74% -4666.0570
嘉定  22687.49  26708.88   17.73%  4021.3932
奉贤  12563.86  14085.31   12.11%  1521.4544
宝山  21033.08  24845.11   18.12%  3812.0288
崇明   4481.92   4954.31   10.54%   472.3942
徐汇   8729.20  10021.13   14.80%  1291.9296
普陀  10071.75  12178.90   20.92%  2107.1508
杨浦   9077.43  11599.01   27.78%  2521.5850
松江  25376.27  29591.24   16.61%  4214.9660
浦东  54772.94  63471.10   15.88%  8698.1626
渠道    366.90    807.95  120.21%   441.0500
虹口   6697.84   8410.33   25.57%  1712.4904
金山   7373.30   8905.98   20.79%  1532.6776
长宁   6833.94   9044.64   32.35%  2210.6972
闵行  27357.22  30929.57   13.06%  3572.3498
青浦  13268.85  14880.72   12.15%  1611.8678
静安  12838.43  14155.80   10.26%  1317.3682
黄浦   6710.31   8226.05   22.59%  1515.7476

In [12]:
ppt=pd.DataFrame()
a_data = data[(data['周数'] == "2024年第27周") ]
b_data = data[(data['周数'] == "2024年第26周") ]
ppt['2024年第本周'] = a_data.groupby('游戏')['销量'].sum()*1e-4
ppt['2024年第上周'] = b_data.groupby('游戏')['销量'].sum()*1e-4
ppt_10_excel=pd.DataFrame()
ppt_10_excel['2024年第26周销量'] = ppt['2024年第上周'].apply(lambda x: '{:.2f}'.format(x))
ppt_10_excel['2024年第27周销量'] = ppt['2024年第本周'].apply(lambda x: '{:.2f}'.format(x))
ppt_10_excel['环比增幅'] = ( ppt['2024年第本周']/ ppt['2024年第上周']-1).apply(lambda x: '{:.2%}'.format(x))
ppt_10_excel['各游戏销量增长情况'] = ( ppt['2024年第本周']- ppt['2024年第上周'])
# ppt_10_excel.to_excel(r"E:\彩票数据\山西\山西周报\ppt_10.xlsx")
ppt_10_excel

      2024年第26周销量 2024年第27周销量     环比增幅  各游戏销量增长情况
游戏
15选5        69.84       63.14   -9.60%    -6.7048
七乐彩         54.13       69.55   28.49%    15.4220
东方6+1       30.17       29.80   -1.24%    -0.3748
即开票       4621.41     4018.68  -13.04%  -602.7300
双色球       3943.12     3998.61    1.41%    55.4862
快乐8       1637.59     1519.68   -7.20%  -117.9122
福彩3D      1763.88     1632.45   -7.45%  -131.4338
选4         185.52      180.39   -2.76%    -5.1284

In [13]:
import pandas as pd
# 按周数筛选数据
weeks = [ "2024年第23周", "2024年第24周","2024年第25周" ,"2024年第26周","2024年第27周"]
ppt = pd.DataFrame()
# 循环计算每周的销量并存入 ppt DataFrame
for week in weeks:
    week_data = data[data['周数'] == week]
    ppt[week] = week_data.groupby('游戏')['销量'].sum() * 1e-4
# 格式化输出 DataFrame
ppt_11_excel = ppt.applymap(lambda x: '{:.2f}'.format(x))
# ppt_11_excel.to_excel(r"E:\彩票数据\山西\山西周报\ppt_11.xlsx")
ppt_11_excel

      2024年第23周 2024年第24周 2024年第25周 2024年第26周 2024年第27周
游戏
15选5      80.72     94.71    103.98     69.84     63.14
七乐彩       70.68     60.81     62.52     54.13     69.55
东方6+1     30.73     31.38     29.26     30.17     29.80
即开票     5186.85   1329.86   3348.06   4621.41   4018.68
双色球     4238.03   4260.84   4078.01   3943.12   3998.61
快乐8     1744.39   2139.24   2323.83   1637.59   1519.68
福彩3D    1906.89   1844.70   1863.01   1763.88   1632.45
选4       199.07    195.09    191.70    185.52    180.39

In [14]:
import pandas as pd
# 按周数筛选数据
games = [ "双色球","福彩3D","七乐彩","即开票","快乐8","15选5","东方6+1","选4","地方游戏"]
ppt = pd.DataFrame()
# 循环计算每周的销量并存入 ppt DataFrame
for game in games:
    week_data = data[data['游戏'] == game]
    ppt[game] = week_data.groupby('票价区间')['销量'].sum() * 1e-4
# 格式化输出 DataFrame
ppt_12_excel = ppt.applymap(lambda x: '{:.2f}'.format(x))
# ppt_12_excel.to_excel(r"E:\彩票数据\山西\山西周报\ppt_12.xlsx")
ppt_12_excel

,双色球,福彩3D,七乐彩,即开票,快乐8,15选5,东方6+1,选4,地方游戏
票价区间,,,,,,,,,
02$2,2340.52,365.62,141.10,nan,376.35,81.84,79.44,129.53,nan
04$4-8,9869.48,2845.61,230.39,nan,1718.26,206.30,160.34,883.71,nan
05$10,26362.39,5341.85,451.58,12865.25,2863.44,392.90,230.02,1500.29,nan
06$12-18,6373.46,2105.32,231.62,nan,1561.34,181.57,38.53,313.74,nan
07$20,10840.70,5046.06,38.15,43368.05,2539.00,119.96,59.05,472.99,nan
08$22-48,15255.39,6700.42,46.88,26031.12,4370.02,253.53,96.25,616.83,nan
09$50-98,12341.40,6238.62,176.64,21521.30,3296.71,97.91,50.67,474.07,nan
10$100-198,13003.88,6216.09,20.00,nan,15409.60,118.52,30.24,494.71,nan
11$200-998,12149.67,9686.95,162.75,nan,3816.15,173.17,27.09,226.45,nan
12$1000以上,4529.26,4501.32,63.69,nan,1987.36,105.74,15.95,12.02,nan

In [15]:
import pandas as pd
data1=pd.read_excel(r"E:\彩票数据\山西\山西周报\小时.xlsx",sheet_name=0)
data1

              周数      星期     地市     游戏   小时      销量
0      2024年第26周  01$星期一  31$中心    双色球  00时    5528
1      2024年第26周  01$星期一  31$中心    双色球  01时    7650
2      2024年第26周  01$星期一  31$中心    双色球  02时    2700
3      2024年第26周  01$星期一  31$中心    双色球  08时  102792
4      2024年第26周  01$星期一  31$中心    双色球  09时  145426
...          ...     ...    ...    ...  ...     ...
27449  2024年第27周  07$星期日  31$黄浦  东方6+1  17时       6
27450  2024年第27周  07$星期日  31$黄浦  东方6+1  18时      74
27451  2024年第27周  07$星期日  31$黄浦  东方6+1  19时      60
27452  2024年第27周  07$星期日  31$黄浦  东方6+1  20时       6
27453  2024年第27周  07$星期日  31$黄浦  东方6+1  21时      24

[27454 rows x 6 columns]

In [16]:
ppt=pd.DataFrame()
c_data = data1[(data1['周数'] == "2024年第27周") ]
ppt['双色球销量'] = c_data[(c_data['游戏'] == '双色球') ].groupby('小时')['销量'].sum()*1e-4
ppt['快乐8销量'] = c_data[(c_data['游戏'] == '快乐8') ].groupby('小时')['销量'].sum()*1e-4
ppt['福彩3D销量'] = c_data[(c_data['游戏'] == '福彩3D') ].groupby('小时')['销量'].sum()*1e-4
ppt['七乐彩销量'] = c_data[(c_data['游戏'] == '七乐彩') ].groupby('小时')['销量'].sum()*1e-4
ppt_14_excel=pd.DataFrame()
ppt_14_excel['双色球'] = ppt['双色球销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_14_excel['快乐8'] = ppt['快乐8销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_14_excel['福彩3D'] = ppt['福彩3D销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_14_excel['七乐彩'] = ppt['七乐彩销量'].apply(lambda x: '{:.2f}'.format(x))
# ppt_14_excel.to_excel(r"E:\彩票数据\山西\山西周报\ppt_14.xlsx")
ppt_14_excel

        双色球     快乐8    福彩3D    七乐彩
小时
00时    4.14    0.09    2.06   0.33
01时    4.46    0.00    1.13   0.26
02时    2.11    0.01    0.36   0.08
03时    0.01    0.00    0.00    nan
04时    0.01    0.02    0.00    nan
05时    0.49    0.04    0.20   0.00
06时    3.88    1.54    1.30   0.10
07时   19.32    6.60    6.31   0.34
08时  118.38   19.10   22.96   6.03
09时  182.44   40.62   37.84   4.10
10时  225.44   61.84   54.92   3.93
11时  215.35   58.92   48.05   3.47
12时  199.28   64.63   45.45   3.63
13时  179.45   71.74   44.38   3.16
14时  195.66   73.58   56.54   3.30
15时  256.68  106.50   69.97   4.79
16时  333.53  112.82   89.68   5.68
17时  435.02  152.72  123.00   7.29
18时  578.10  170.49  249.25   8.83
19时  890.54  228.50  445.20  11.47
20时   75.80  339.10  314.72   0.64
21时   31.19    2.69    7.76   0.37
22时   32.11    6.74    7.77   1.15
23时   15.21    1.40    3.55   0.59

In [17]:
ppt=pd.DataFrame()
a_data = data[(data['周数'] == "2024年第27周") ]
games = ['双色球', '即开票', '快乐8', '福彩3D', '七乐彩', '地方游戏']
for game in games:
    ppt[f'{game}销量'] = a_data[a_data['游戏'] == game].groupby('地市')['销量'].sum() * 1e-4
ppt_17_excel=pd.DataFrame()
ppt_17_excel['双色球'] = ppt['双色球销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_17_excel['即开票'] = ppt['即开票销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_17_excel['快乐8'] = ppt['快乐8销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_17_excel['福彩3D'] = ppt['福彩3D销量'].apply(lambda x: '{:.2f}'.format(x))
ppt_17_excel['七乐彩'] = ppt['七乐彩销量'].apply(lambda x: '{:.2f}'.format(x))
# ppt_17_excel.to_excel(r"E:\彩票数据\山西\山西周报\ppt_17.xlsx")
ppt_17_excel

       双色球      即开票     快乐8    福彩3D    七乐彩
地市
中心  581.34      nan     nan   98.43  23.36
嘉定  271.50   105.94  182.23  162.86   3.26
奉贤  160.54   153.15   76.52   76.93   1.19
宝山  295.77   308.53  129.16  113.18   3.67
崇明   53.34    52.28   15.34   30.81   0.88
徐汇  148.78   122.22   33.97   36.88   2.13
普陀  185.11   139.70   45.03   57.45   3.67
杨浦  142.12   152.48   61.91   56.25   1.82
松江  312.04   437.32  236.06  164.14   4.74
浦东  707.97  1129.28  339.58  347.82   8.60
虹口  116.17   122.42   36.88   31.87   1.53
金山  117.16    85.28   40.96   59.98   1.24
长宁  108.07   128.94   21.99   33.54   1.58
闵行  367.01   552.66  136.29  157.11   5.30
青浦  156.07   204.94   71.92   93.41   1.39
静安  169.89   212.47   62.53   62.30   3.82
黄浦  105.75   111.07   29.31   49.50   1.38

In [18]:
ppt=pd.DataFrame()
a_data = data[(data['周数'] == "2024年第27周") ]
games = ["02$2", "04$4-8", "05$10", "06$12-18", "07$20", "08$22-48", "09$50-98", "10$100-198", "11$200-998", "12$1000以上"]
ppt_18_excel = pd.DataFrame()
for game in games:
    ppt_18_excel[game] = a_data[a_data['票价区间'] == game].groupby('地市')['销量'].sum() * 1e-4
    ppt_18_excel[game] = ppt_18_excel[game].apply(lambda x: '{:.2f}'.format(x))
# ppt_18_excel.to_excel(r"E:\彩票数据\山西\山西周报\ppt_18.xlsx")
ppt_18_excel

,02$2,04$4-8,05$10,06$12-18,07$20,08$22-48,09$50-98,10$100-198,11$200-998,12$1000以上
地市,,,,,,,,,,
中心,69.16,112.36,142.89,56.60,57.92,92.69,76.30,81.60,56.28,nan
嘉定,5.01,36.59,94.27,30.89,85.34,110.46,96.74,129.74,96.59,52.69
奉贤,3.11,23.93,58.27,18.91,79.41,80.61,99.04,54.97,44.81,12.78
宝山,6.49,42.73,109.75,31.72,156.73,147.92,189.21,103.01,71.17,15.12
崇明,1.51,10.80,24.59,7.38,28.84,23.50,39.13,15.48,8.06,0.55
徐汇,2.33,18.34,51.04,13.29,70.16,57.66,77.39,34.18,26.10,5.52
普陀,3.41,23.57,62.99,19.35,78.29,68.25,98.02,42.95,30.33,17.99
杨浦,2.67,20.90,57.34,16.05,73.14,61.64,105.30,55.97,25.48,9.14
松江,5.65,41.77,104.52,34.84,207.20,195.92,248.86,154.04,106.96,66.63
浦东,12.51,95.93,257.83,72.79,559.62,486.43,549.58,261.74,215.15,64.09
虹口,1.72,15.24,40.46,10.91,61.10,51.48,76.18,34.06,24.33,4.44
金山,2.33,17.10,44.17,14.08,52.55,47.56,57.76,38.18,28.35,11.00
长宁,1.52,11.61,33.48,8.51,56.34,54.35,76.25,28.37,22.03,9.79
闵行,5.51,44.96,127.33,36.00,255.69,235.85,289.69,120.96,107.57,20.40
青浦,2.61,22.61,57.42,18.10,96.18,105.49,110.91,59.88,49.89,10.91
静安,3.79,20.94,59.02,17.39,84.86,91.90,141.21,56.12,42.44,8.41
黄浦,1.62,11.74,33.66,9.45,53.06,51.80,70.81,33.16,33.12,10.08

In [19]:
import pandas as pd
# 按周数筛选数据
weeks = [ "2024年第23周", "2024年第24周","2024年第25周" ,"2024年第26周","2024年第27周"]
ppt = pd.DataFrame()
# 循环计算每周的销量并存入 ppt DataFrame
for week in weeks:
    week_data = data[data['周数'] == week]
    ppt[week] = week_data.groupby('地市')['销量'].sum() * 1e-4
# 格式化输出 DataFrame
ppt_19_excel = ppt.applymap(lambda x: '{:.2f}'.format(x))
# ppt_19_excel.to_excel(r"E:\彩票数据\山西\山西周报\ppt_19.xlsx")
ppt_19_excel

   2024年第23周 2024年第24周 2024年第25周 2024年第26周 2024年第27周
地市
中心    775.52    771.24    778.45    757.89    745.80
嘉定   1587.26    959.72   1155.02   1117.14    738.33
奉贤    556.40    421.00    515.26    501.74    475.83
宝山    887.69    844.30    953.26    913.76    873.84
崇明    177.17    151.02    176.92    162.08    159.84
徐汇    402.81    287.51    358.80    367.65    356.01
普陀    463.40    383.97    431.93    461.43    445.14
杨浦    499.28    392.48    418.03    460.37    427.64
松江   1256.90    948.33   1180.52   1218.90   1166.38
浦东   2900.08   1872.70   2592.19   2632.35   2575.68
虹口    371.93    285.86    290.73    358.77    319.93
金山    381.78    289.25    329.95    348.47    313.07
长宁    345.20    264.41    285.99    329.07    302.26
闵行   1343.61    863.67   1164.31   1159.98   1243.96
青浦    559.18    512.79    547.45    561.60    534.00
静安    567.13    451.49    527.86    538.17    526.09
黄浦    382.01    256.89    293.69    356.30    308.48

In [20]:
import pandas as pd
a_data = data[(data['周数'] == "2024年第27周") ]
games = ["双色球", "福彩3D", "七乐彩", "即开票", "快乐8", "15选5", "东方6+1", "选4", "地方游戏"]
ppt = pd.DataFrame()
# 循环计算每周的销量并存入 ppt DataFrame
for game in games:
    week_data = a_data[a_data['游戏'] == game]
    ppt[game] = week_data.groupby('星期')['销量'].sum() * 1e-4
# 格式化输出 DataFrame
ppt_28_excel = ppt.applymap(lambda x: '{:.2f}'.format(x))
# ppt_28_excel.to_excel(r"E:\彩票数据\山西\山西周报\ppt_28.xlsx")
ppt_28_excel

        双色球    福彩3D    七乐彩      即开票     快乐8  15选5 东方6+1     选4 地方游戏
星期
星期一  365.81  237.06  14.19   271.63  217.52  9.32  7.40  27.16  nan
星期三  299.60  239.62  16.49    46.98  212.42  8.46  7.04  25.05  nan
星期二  965.90  234.73   4.87    92.06  210.50  8.78  2.43  26.02  nan
星期五  246.53  229.90  23.62    35.09  237.42  9.26  1.89  25.71  nan
星期六  215.71  229.75   2.42  1645.02  220.11  8.95  6.60  25.13  nan
星期四  963.86  233.77   6.06    41.46  214.91  9.29  2.10  25.62  nan
星期日  941.20  227.63   1.91  1886.44  206.81  9.08  2.33  25.71  nan

In [21]:
import pandas as pd
data2=pd.read_excel(r"E:\彩票数据\山西\山西周报\倍投.xlsx",sheet_name=0)
data2

               周数   星期  地市     游戏          倍投      销量
0       2024年第01周  星期一  中心    双色球       01$单倍  445376
1       2024年第01周  星期一  中心    双色球       02$两倍  105608
2       2024年第01周  星期一  中心    双色球     03$3到5倍  131128
3       2024年第01周  星期一  中心    双色球    04$6到10倍   52298
4       2024年第01周  星期一  中心    双色球   05$11到20倍   19816
...           ...  ...  ..    ...         ...     ...
114077  2024年第27周  星期日  黄浦   15选5  06$21到100倍     100
114078  2024年第27周  星期日  黄浦  东方6+1       01$单倍     348
114079  2024年第27周  星期日  黄浦  东方6+1       02$两倍       4
114080  2024年第27周  星期日  黄浦  东方6+1     03$3到5倍      92
114081  2024年第27周  星期日  黄浦  东方6+1    04$6到10倍      12

[114082 rows x 6 columns]

In [22]:
import pandas as pd
a_data = data2[(data2['周数'] == "2024年第27周") ]
games = ["01$单倍","02$两倍","03$3到5倍","04$6到10倍","05$11到20倍","06$21到100倍"]
ppt = pd.DataFrame()
# 循环计算每周的销量并存入 ppt DataFrame
for game in games:
    week_data = a_data[a_data['倍投'] == game]
    ppt[game] = week_data.groupby('地市')['销量'].sum() * 1e-4
# 格式化输出 DataFrame
ppt_29_excel = ppt.applymap(lambda x: '{:.2f}'.format(x))
# ppt_29_excel.to_excel(r"E:\彩票数据\山西\山西周报\ppt_29.xlsx")
ppt_29_excel

      01$单倍   02$两倍 03$3到5倍 04$6到10倍 05$11到20倍 06$21到100倍
地市
中心   388.27   75.24  115.19    60.07     27.54      79.49
嘉定   414.06   46.60   86.24    71.03     47.19      73.20
奉贤   308.66   26.78   51.33    37.39     17.32      34.34
宝山   594.08   48.71   88.37    61.45     28.22      53.02
崇明   103.66   10.28   19.15    12.39      6.31       8.06
徐汇   229.30   20.16   41.45    27.41     12.06      25.63
普陀   294.38   27.13   52.42    29.48     12.30      29.43
杨浦   278.31   23.73   44.72    35.87     20.71      24.32
松江   757.09   50.17  100.40   113.58     60.82      84.32
浦东  1805.28  114.91  221.37   160.80     79.94     193.38
虹口   217.30   17.13   34.23    21.59     11.28      18.41
金山   197.12   18.33   36.82    26.42     11.10      23.28
长宁   214.53   14.90   26.97    16.49      6.80      22.58
闵行   875.09   59.75  110.37    75.79     41.48      81.48
青浦   355.76   25.72   50.61    39.86     17.54      44.50
静安   364.31   25.05   49.28    33.12     17.38      36.96
黄浦   195.00   14.67   32.75    20.58     11.21      34.27

In [23]:
import pandas as pd
data3=pd.read_excel(r"E:\彩票数据\山西\山西周报\游戏玩法.xlsx",sheet_name=0)
data3

              周数      星期     地市     游戏 选号方式 投注方式          游戏玩法      销量
0      2024年第26周  01$星期一  31$中心    双色球   手选   单式     01$双色球-单式  593188
1      2024年第26周  01$星期一  31$中心    双色球   手选   复式   02$双色球-红复式7   25186
2      2024年第26周  01$星期一  31$中心    双色球   手选   复式   03$双色球-红复式8   15568
3      2024年第26周  01$星期一  31$中心    双色球   手选   复式   04$双色球-红复式9    8232
4      2024年第26周  01$星期一  31$中心    双色球   手选   复式  05$双色球-红复式10    6720
...          ...     ...    ...    ...  ...  ...           ...     ...
46194  2024年第27周  07$星期日  31$黄浦   15选5   自动   复式    02$15选5-复式     270
46195  2024年第27周  07$星期日  31$黄浦  东方6+1   手选   单式   01$东方6+1-单式      34
46196  2024年第27周  07$星期日  31$黄浦  东方6+1   机选   单式   01$东方6+1-单式      44
46197  2024年第27周  07$星期日  31$黄浦  东方6+1   自动   单式   01$东方6+1-单式     360
46198  2024年第27周  07$星期日  31$黄浦  东方6+1   自动   复式   02$东方6+1-复式      18

[46199 rows x 8 columns]

In [24]:
import pandas as pd
a_data = data3[(data3['周数'] == "2024年第27周") ]
games = ["双色球", "福彩3D", "七乐彩", "即开票", "快乐8", "15选5", "东方6+1", "选4", "地方游戏"]
ppt = pd.DataFrame()
# 循环计算每周的销量并存入 ppt DataFrame
for game in games:
    week_data = a_data[a_data['游戏'] == game]
    ppt[game] = week_data.groupby('投注方式')['销量'].sum() * 1e-4
# 格式化输出 DataFrame
ppt_32_excel = ppt.applymap(lambda x: '{:.2f}'.format(x))
# ppt_32_excel.to_excel(r"E:\彩票数据\山西\山西周报\ppt_32.xlsx")
ppt_32_excel

          双色球     福彩3D    七乐彩  即开票     快乐8   15选5  东方6+1      选4 地方游戏
投注方式
单式    2485.23  1316.51  35.76  nan  617.69  37.75  25.00  180.39  nan
复式    1372.02   315.94  28.85  nan  427.47  17.35   4.80     nan  nan
胆拖     141.36      nan   4.94  nan  474.52   7.79    nan     nan  nan